<div class="all">
	<li class="top">
		<p>选择代表作品</p>
	</li>
	<li class="search">
		<input placeholder="搜索" (keydown.Enter)="search(input)" #input />
		<img src="/assets/image/svg/search.svg" />
	</li>
	<div class="back">
		<div class="works" (scroll)="scrolledOne($event)" #boxone>
			<div class="hh" #neone>
				<div class="work_all" *ngFor="let work of allworkList" (click)="choiceThis(work.id, work)">
					<!-- <img [attr.src]="work.cover"> -->
					<ivo-lazy-img class="lazy" [ngLazyLoad]="work?.cover + '?x-oss-process=image/resize,m_fixed,w_71,h_71'"> </ivo-lazy-img>
					<li>
						<a class="name">{{ work.name }}</a>
						<span>
							<a class="time">{{ work.publishtime | date: 'yyyy-MM-dd' }}</a>
						</span>
					</li>
				</div>
			</div>
		</div>
	</div>
	<li class="bottom2">
		<button class="back2" (click)="goBack()">返回</button>
	</li>
</div>
