<img src="/assets/image/review-mechanism/header.jpg" alt="" />
<section class="container">
	<h1>Peacha举报指南</h1>
	<div>
		<p>
			Peacha.net致力于开创一个服务于Live2D创作者的平台，并通过我们的平台为大家提供便利的交易途径。为了维护平台的健康发展、持续为用户提供良好的服务质量，我们一贯重视作品的内容版权的保护和其他知识产权的保护，如您在使用过程中发现了侵犯您相关权益或者有悖国家法律禁止性规定的作品或其他不当内容，请您按照下述方式进行提交维权举报或权利通知，Peacha.net将根据相关法律法规规定采取相关措施以尽可能地保护您的合法权益和维护Peacha.net网站环境的健康。
		</p>
		<h3>1、版权相关举报</h3>
		<p>
			此类侵权内容请按照下述内容填写并提交<a href="/assets/download_files/Peacha维权举报表.docx" download>《Peacha维权举报表》</a
			>至16@1-reality.com
		</p>
		<p>（1）权利人（代理人）的姓名／名称要求为身份证上的准确名称，请勿使用昵称、化名、缩写等无法确定现实主体的表述方式。</p>
		<p>（2）联系方式、地址请使用切实可以联系到的直接通讯方式。我们在收到您的举报申诉后可能通过电话或者快递的方式与您进一步联系。</p>
		<p>
			（3）有效证件的复印件包括营业执照（单位）、身份证（个人）、版权登记证书、第三方（原权利人）授权证明等可以直接证明权利人和权利主张真实存在的材料。如果权利人系未曾进行过版权登记的原创作者，请提供作品首次发表的证明（如出版物、附带时间戳的网页信息等），以便我们可以核实。
		</p>
		<p>
			（4）权利人申诉内容及要求，需要列名侵权作品的准确名称、用户及网络地址；要求主张包括可以要求断开侵权作品的访问链接、删除或更正涉嫌侵权的文字介绍、按照Peahca用户协议处理侵权用户等。
		</p>
		<p>
			（5）认为构成侵权的初步证明材料文件，需要举报申诉人就被举报作品的具体侵权内容进行说明。如涉及盗用，需简要对比被举报作品与自身权利作品之间的同一性或者抄袭的具体内容；涉及针对其他民事权利（名誉权、隐私权等）的投诉，应提供具体内容在被举报作品中的截图。您所提供的材料越全面、越准确，越能使我们更快地维护您的合法权益。
		</p>
		<p>
			（6）权利人保证。Peacha.net承诺对每一份有效填写的举报申诉表内容逐一核实和反馈。故为防止恶意举报伤害创作者们的合法权益，权利人须做出相应地承诺和保证。
		</p>
		<p>（7）权利人如有其他需要补充的内容，可以在“备注”栏中进一步提供。</p>
		<p>（8）如您通过代理人进行举报维权，请在附件中提供权利人签章的授权委托书作为附件。</p>

		<h3>2、其他类型举报</h3>
		<p>如您遇到有但不限于以下情况的不当内容：</p>
		<p class="pstyle1">·反对宪法所确定的基本原则的；</p>
		<p class="pstyle1">·危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
		<p class="pstyle1">·损害国家荣誉和利益的；</p>
		<p class="pstyle1">·煽动民族仇恨、民族歧视、破坏民族团结的；</p>
		<p class="pstyle1">·侮辱、拉用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的；</p>
		<p class="pstyle1">·破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p class="pstyle1">·散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p class="pstyle1">·散步淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
		<p class="pstyle1">·侮辱或者诽谤他人，侵害他人合法权益的；</p>
		<p class="pstyle1">·以任何方式危害未成年人的；</p>
		<p class="pstyle1">·含有法律、行政法规禁止的其他内容的信息；</p>
		<p class="pstyle1">请通过“作品详情页-更多-举报”进行举报操作，以维护网站的健康环境。</p>

		<h3>3、删除恢复指南</h3>
		<p>
			如您确认您被删除的作品没有侵犯到他人的合法权利，也请下载上附的《Peacha维权举报表》按照上述内容详细填写您的信息发送至16@1-relity.com，并附上尽可能全面的证明材料来证明您未侵犯他人合法权利，如因著作权、商标权、专利权等知识产权侵权被删除作品，则应提供包括但不限于著作权登记证书、商标证、专利证书、作品首次公开发表或发行日期证明材料、创作手稿、经权威机构签发的作品创作时间戳、作品备案证书等能有效证明被删除方拥有相关权利的权属证明；如名誉权、隐私权等其他合法权益侵权，则应提供相应有效证明材料。经我们核实后确认您并未侵犯他人合法利益，我们将撤销对您作品的处理。
		</p>
		<p>提交人在提交前应保证您的作品未侵犯他人合法权利的情况属实，否则由此产生的一切法律后果将有提交人承担。</p>
	</div>
</section>
