<div class="describe">
    <!-- 图标 -->
    <span *ngIf="isDelete" class="delete-icon" (click)="Delete()"></span>
    <!-- 图标 -->
    <div class="word">
        <div>
            <label for="title">标题
                <ng-container *ngIf="( nError$ | async )">
                    <span class="error">请输入标题</span>
                </ng-container></label>
            <span class="title">
                <input maxlength=15 type="text" (input)="onInput($event)" [disabled]="!canInputTitle"
                    [value]='title$|async' #title name="title">
                <span>{{wordCount}}/{{wordNumber}}</span>
            </span>
        </div>

        <div class="price">
            <label for="price">价格
                 <ng-container *ngIf="( pError$ | async )">
                    <span class="error">请输入价格</span>
                </ng-container></label>
            <span class="input">
                <input #price min="0" max="999999" type="number" [disabled]="!canInputPrice"
                    (input)="onPriceInput($event)" [value]='price$|async' nz-input name="price">
                <span class="unit">RMB</span>
                <span class="servicesCharge">预计收益 （手续费10% ）:<b>&#165;&nbsp;{{get | number:'1.2-2'}}</b><i></i></span>
            </span>
            <label nz-checkbox [nzDisabled]="!canInputPrice" id="freeCheck" (click)="freeClick()"
                [(ngModel)]="isChecked" for="freeCheck">免费分享</label>
        </div>
    </div>
    <span style="font-size:16px;margin-bottom:10px;display:block;font-weight:bold;">可下载内容</span>
    <form [formGroup]="upload">
        <ivo-upload [fileNumber]="'5'" [fileSize]="'200'" [isResertBeforeUpload]='isResertBeforeUpload'
            [buttonWord]='buttonWord' [canDelete]='canDelete' [canUplaod]='canUpload' formControlName="f"></ivo-upload>
        <input type='hidden' formControlName='additionalId' />
    </form>
</div>
