<div class="box">
	<img class="close" src="/assets/image/n7r/icon/close.svg" (click)="close()" />
	<overlay-scrollbars>
		<div class="left">
			<img src="/assets/image/n7r/suit/1.png" />
			<img src="/assets/image/n7r/suit/2.png" />
			<img src="/assets/image/n7r/suit/3.png" />
			<img src="/assets/image/n7r/suit/4.png" />
			<img src="/assets/image/n7r/suit/5.png" />
			<img src="/assets/image/n7r/suit/6.png" />
			<img src="/assets/image/n7r/suit/7.png" />
			<img src="/assets/image/n7r/suit/8.png" />
			<img src="/assets/image/n7r/suit/9.png" />
		</div>
	</overlay-scrollbars>
	<overlay-scrollbars>
		<div class="right">
			<h6>Tundra 动捕套装</h6>
			<li>
				<span> 选配项 </span>
				<div></div>
			</li>
		</div>
	</overlay-scrollbars>
</div>
