<div class="box" *ngrxLet="getAddress$">
	<overlay-scrollbars *ngIf="first.length>0">
		<div class="content">
			<span *ngFor="let i of first" [class.active]="i.id===firstRank.id " (click)="select(i,1)">{{i.name}}</span>
		</div>
	</overlay-scrollbars>
	<overlay-scrollbars *ngIf="second.length>0">
		<div class="content">
			<span *ngFor="let t of second" (click)="select(t,2)" [class.active]="t.id===secondRank.id ">{{t.name}}</span>
		</div>
	</overlay-scrollbars>
	<overlay-scrollbars *ngIf="third.length>0">
		<div class="content">
			<span *ngFor="let e of third" (click)="select(e,3)" [class.active]="e.id===thirdRank.id ">{{e.name}}</span>
		</div>
	</overlay-scrollbars>
	<overlay-scrollbars *ngIf="fourth.length>0">
		<div class="content">
			<span *ngFor="let m of fourth" (click)="select(m,-1)" [class.active]="m.id===fourthRank.id">{{m.name}}</span>
		</div>
	</overlay-scrollbars>
</div>
