<div class="user-linkage-recharge" *ngrxLet="goods$;let goods">
  <div class="head">
    <span class="title">{{"linkageTime.linkage_duration" | translate}}</span>
    <span routerLink="../" class="back">{{"linkageTime.go_back" | translate}} ></span>
  </div>

  <div class="recharge-box" *ngrxLet="checked$;let checked">
    <div class="recharge-card" *ngFor="let good of goods;index as i" (click)="checked$.next(i)"
      [ngClass]="{checked:checked==i}">
      <div class="check"></div>
      <div *ngIf="good?.free>0" class="free"><span>{{"linkageTime.reduction" | translate}}{{good?.free}}CNY</span>
      </div>
      <div class="recharge-card-head">
        <span>{{good?.time}}{{"linkageTime.hour" | translate}}</span>
      </div>
      <div class="recharge-card-content">
        <span class="orgin-price" *ngIf="good.free">{{"linkageTime.orgin_price" | translate}}{{good?.price}}CNY</span>
        <span class="money">
          {{good?.price-good?.free | number:'1.2-2'}}
          <span>
            CNY
          </span>
        </span>
        <span
          class="tips">{{"linkageTime.only_needs" | translate}}{{(good?.price-good?.free)/good?.time | number:'1.2-2'}}CNY</span>
      </div>
    </div>
  </div>

  <div class="recharge-value" *ngrxLet="checked$;let checked">
    <span>
      {{"linkageTime.actual_payment" | translate}}：
      <span>
        {{0+goods[checked]?.price-goods[checked]?.free  | number:'1.2-2'}}
      </span>
      CNY
    </span>
  </div>
  <button class="recharge-button" (click)="pay()">{{"linkageTime.buy_now" | translate}}</button>
  <p class="tips">{{"linkageTime.tips" | translate}} <a href="https://prprlive.booth.pm/"
      target="_blank">{{"linkageTime.prprlive_booth" | translate}}</a>
    {{"linkageTime.to_exchange" | translate}}
  </p>
</div>
