<div class="reset-pw">
    <span class="top" [routerLink]="['/setting/security']"> 安全设置</span>
    <ng-container>-支付密码</ng-container>
    <div class="main">
        <img class="logo" src="/assets/image/svg/i-logo.svg">
        <div class="content" ivoStepper #step>

            <div *ivoStep>
                <div class="font">
                    <ng-container class="jiahei">验证身份</ng-container>
                </div>
                <div class="description">
                    <ng-container>我们会向您绑定的邮箱/手机号发送验证码，来验证是否为本人操作。</ng-container>
                </div>
                <div class="input1" *ngIf="mobile">
                    <button  (click)="phone()" class="inputtext"><img src="/assets/image/svg/reset-phone.svg">通过手机接收验证码</button>
                </div>
                <div class="input1"  *ngIf="emailtext">
                    <button (click)="email()" class="inputtext"> <img src="/assets/image/svg/reset-email.svg">通过邮箱接收验证码</button>
                </div>
            </div>
            <div *ivoStep="'fuck'">
                <div class="main2" *ngrxLet="countdown$;let cooldown">
                    <span class="font2">输入验证码</span>
                    <span class="description">已将验证码发送到{{showtext}}中。</span>
                    <div class="vert">
                        <input type="text" [formControl]="vericode" class="inputveri">
                        <button class="veriftButton" [disabled]="cooldown" (click)="sendverifyagain()">
                            <ng-container *ngIf="cooldown==0">
                                获取验证码
                            </ng-container>
                            <ng-container *ngIf="cooldown>0">
                                等待({{cooldown}})
                            </ng-container>
                        </button>
                    </div>


                    <div class="error-inset" [errorDisplay]="vericode">
                        <ng-container *errorCase="'required'">
                            验证码是必填项
                        </ng-container>
                        <ng-container *errorCase="'wrong_code'">
                            验证码错误
                        </ng-container>
                    </div>
                    <button class="continue" (click)="confirmVericode()">继续</button>
                </div>
            </div>
            <div *ivoStep>
                <span class="font">设置密码</span>
                <div style="margin-bottom: 20px;">
                    <span>该密码为支付密码(</span>
                    <span class="sm2">非登录密码</span>
                    <span>),仅在支付时使用。</span>
                </div>

                <input type="password" [formControl]="password" class="inputpw" placeholder="输入六位数字纯密码" maxlength="6">
                <div class="error-inset" [errorDisplay]="password">
                    <ng-container *errorCase="'required'">
                        密码是必填项
                    </ng-container>
                    <ng-container *errorCase="'pattern'">
                        密码格式错误
                    </ng-container>
                    <ng-container *errorCase="'confirm'">
                        两次密码不一致
                    </ng-container>
                    <ng-container *errorCase="'maxlength'">
                        密码过长
                    </ng-container>
                    <ng-container *errorCase="'minlength'">
                        密码过短
                    </ng-container>

                </div>
                <input type="password" [formControl]="passwordagain" class="inputpw" placeholder="再次输入密码" maxlength="6">
                <div class="error-inset" [errorDisplay]="passwordagain">
                    <ng-container *errorCase="'required'">
                        确认密码是必填项
                    </ng-container>
                    <ng-container *errorCase="'confirm'">
                        两次密码输入不一致
                    </ng-container>
                </div>

                <button class="continue" (click)="resetpw()">继续</button>
            </div>
            <div *ivoStep class="aaa">
                修改成功
                <div>
                    <button [routerLink]="['../../setting/security']">返回</button>
                </div>
            </div>

        </div>
    </div>
</div>
