<overlay-scrollbars>
	<ivo-n7r-navbar></ivo-n7r-navbar>
	<div class="css-box">
		<div class="top">
			<div class="left">
				<div class="left-top">
					<img src="/assets/image/n7r/n7r-logo.png" />
					<p class="info">实时追踪</p>
					<p class="info">精准定位</p>
					<p class="info">为您全面赋能</p>
					<p class="desc">n7r致力于推广全球领先的高精度位置追踪、计算机视觉等前沿技术为企业提供软硬件支持和技术指导</p>
					<p class="desc">我们的产品和定制服务将赋能SteamVR产品更快捷研发、更低成本推向市场</p>
					<button class="goto-btn" [class.no]="1618632000000>now" (click)="goto()">
						<ng-container *ngIf="1618632000000>now">2021年4月17日 12:00开启预售</ng-container>
						<ng-container *ngIf="1618632000000<=now"> 立即购买 </ng-container>
					</button>
				</div>
			</div>
			<div class="right">
				<img *ngFor="let url of imgs;let i=index" [src]="url" [@imgMove]="ImgState(i)" />
				<div class="small">
					<span class="care">注：图中为3D打印工程样机，非量产发售产品图片</span>
					<div class="icon-list">
						<span class="out" *ngFor="let url of imgs;let i=index" (click)="changeSmall(i)">
							<span [class.borderRed]="is_active(i)"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<h1>应用场景</h1>
		<div class="play">
			<div class="show">
				<li>
					<img src="/assets/image/n7r/icon/icon-1.svg" />
					<span class="name">目标物定位</span>
					<span>无人飞行器 </span>
					<span>无人车</span>
					<span>工业机器人</span>
					<span>康复机器人</span>
					<span>车间制造</span>
				</li>
				<li>
					<img src="/assets/image/n7r/icon/icon-2.svg" />
					<span class="name">虚拟现实交互</span>
					<span>大空间多人定位系统</span>
					<span>军事仿真训练</span>
					<span>文旅沉浸体验</span>
					<span>高校XR实验室</span>
				</li>
				<li>
					<img src="/assets/image/n7r/icon/icon-3.svg" />
					<span class="name">影音娱乐</span>
					<span>影视、动画、游戏</span>
					<span>实时全身动作捕捉</span>
					<span>影视特效</span>
					<span>游戏CG制作</span>
					<span> ....</span>
				</li>
				<li>
					<img src="/assets/image/n7r/icon/icon-4.svg" />
					<span class="name">医疗</span>
					<span>AR增强现实+远程会诊</span>
					<span> 实时音视频通讯</span>
					<span> 步态康复与评估</span>
					<span> ....</span>
				</li>
			</div>
		</div>
		<h1>应用实例</h1>
		<div class="case">
			<li (click)="toPlay(1)">
				<img src="/assets/image/n7r/case/case-4.png" />
				<span>
					<img src="/assets/image/n7r/icon/play.svg" />
					Tundra Tracker新款全身追踪器试用
				</span>
			</li>
			<li (click)="toPlay(2)">
				<img src="/assets/image/n7r/case/case-3.png" />
				<span>
					<img src="/assets/image/n7r/icon/play.svg" />
					Tundra Tracker vs. HTC Vive Tracker 3.0 -哪个更好？首个完整测评！
				</span>
			</li>
		</div>
		<h1>产品预购</h1>
		<div class="price" #detail>
			<div class="show">
				<div class="right-box">
					<li>
						<span class="title"> 选配项 </span>
						<div class="choice">
							<span
								class="option"
								*ngFor="let item of allGoods?.list;let i=index"
								[class.option-active]="i===indexChoice"
								(click)="select(item,i)"
								>{{item.name}}</span
							>
						</div>
					</li>
					<li>
						<span class="title"> 数量 </span>
						<div class="choice change-input">
							<span class="hello" (click)="count$.value>1 && count$.next(count$.value-1)">-</span>
							<span class="hello-input">{{count$.value}}</span>
							<span
								class="hello"
								(click)="count$.value<(indexGood?.stock-indexGood?.salesVolumes) && count$.next(count$.value+1)"
							>
								+
							</span>
						</div>
					</li>

					<li>
						<span class="title"> 包装规格 </span>
						<div class="choice">
							<span class="des">{{indexGood?.description}}</span>
						</div>
					</li>
					<li>
						<span class="title"> 库存 </span>
						<div class="choice change-input">
							<span class="des">{{indexGood?.stock-indexGood?.salesVolumes}}</span>
						</div>
					</li>
					<li>
						<span class="title"> 单价 </span>
						<div class="choice ext">
							<span class="money"
								>¥{{indexGood?.price-indexGood?.discountAmount}}<span class="tip" *ngIf="indexGood?.discountAmount>1"
									>（限时优惠）</span
								></span
							>
							<s *ngIf="indexGood?.discountAmount>1">原价：￥{{indexGood?.price}}</s>
						</div>
					</li>
					<li>
						<span class="title"> 预计发货时间 </span>
						<div class="choice">
							<span class="time">2021年{{indexGood?.month}}月开始发货</span>
						</div>
					</li>
					<button class="goto-box" (click)="preOrder(indexGood?.stock-indexGood?.salesVolumes)">
						立即预购 ¥{{(indexGood?.price-indexGood?.discountAmount)*count$.value}}
					</button>
					<div class="sale">关于售后：在购买到货后，售后期间内如遇问题，用户可以直接寄回原厂维修。</div>
				</div>
			</div>
		</div>
		<h1>关于N7R</h1>
		<div class="about">
			<div class="show-two">
				<li>
					<img src="/assets/image/n7r/icon/icon-5.svg" />
					<span class="content"
						>我们的目标是通过持续为开发者和制 造商提供卓越的技术和服务，成为全 球室内跟踪技术的引领者。将不断创
						新，创造新的专利、技术和产品，来 定义室内跟踪的最佳状态</span
					>
				</li>
				<li>
					<img src="/assets/image/n7r/icon/icon-6.svg" />
					<span class="content">赋能每一次追踪更快、更精准、 更稳定</span>
				</li>
				<li>
					<a class="more" href="https://www.n7r.com.cn/" target="_blank"> 查看更多N7R相关信息>> </a>
				</li>
			</div>
			<div class="about-right">
				<a *ngFor="let item of news" target="_blank" [href]="item.link">
					<li>
						<img src="/assets/image/n7r/news/one.png" />
						<span>{{item.title}}</span>
					</li>
				</a>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div>
				<span class="title">商务合作</span>
				<div class="content">
					<span>
						<p><a href="/aboutus" target="_blank">关于我们</a></p>
					</span>
				</div>
			</div>
			<div>
				<span class="title">软件下载</span>
				<div class="content">
					<span><a target="_blank" href="https://store.steampowered.com/app/1279610/PrprLive/">PrprLive面部捕捉软件</a></span>
				</div>
			</div>
			<div>
				<span class="title">反馈</span>
				<div class="content">
					<div>
						<span><a target="_blank" href="/useragreement">用户协议</a></span>
						<span><a target="_blank" href="/userprivacypolicy">隐私政策</a></span>
						<span><a target="_blank" href="/reviewMechanism">维权举报</a></span>
						<span><a target="_blank" href="/message/customer-service">联系客服</a></span>
					</div>
					<!-- <div>
						<span><a href="/message/customer-service">联系客服</a></span>
					</div> -->
				</div>
			</div>
		</div>
		<div class="other">
			<div class="license">
				<div>
					<span>
						<p>网络文化经营许可证 浙网文（2019）5145-224号</p>
					</span>
				</div>
				<div>
					<span>
						<a target="_blank" href="https://beian.miit.gov.cn"> 浙ICP备19024709号-5 </a>
					</span>
					<span>
						<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010902002628">
							<img src="/assets/image/svg/national-emblem.svg" width="15px" height="17px" />
							浙公网安备 33010902002628号
						</a>
					</span>
					<span>
						<p>公司名称：杭州亿真网络科技有限公司</p>
					</span>
					<span>
						<p>电话：0571-82153627</p>
					</span>
				</div>

				<div>
					<span>
						<a target="_blank" href="https://tsm.miit.gov.cn/dxxzsp/"> ICP证:浙B2-20201310 </a>
					</span>
					<span>
						<a target="_blank" href="https://www.12377.cn/">
							<img src="/assets/image/footer/01.png" width="18px" height="16px" />
							中央网信办违法和不良信息举报中心
						</a>
					</span>
					<span>
						<p>公司地址：浙江省杭州市萧山区启迪路198号</p>
					</span>
				</div>
			</div>
			<div class="company">
				<img src="/assets/image/svg/company-logo.svg" />
				<p>© 2019-2021 I-Reality Network Technology Co.,Ltd. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</overlay-scrollbars>
