#navbar {
	height: 64px;
	background: #333333;
	padding-right: 64px;
	display: flex;
	& > a {
		line-height: 64px;
		font-size: 20px;
		color: #fff;
		margin-left: auto;
	}
}

.top {
	display: flex;

	& > .left {
		width: ceil(640 / 1920 * 100vw);
		height: ceil(800 / 1920 * 100vw);
		background: linear-gradient(157deg, #44464a 10%, #2e3032 89%);
		padding: 64px;
	}

	& > .right {
		width: ceil((1920- 640) / 1920 * 100vw);
		height: ceil(1000 / 1920 * 100vw);
		border-bottom-left-radius: ceil(200 / 1920 * 100vw);
		background-color: aquamarine;
	}
}
