<img src="/assets/image/review-mechanism/header.png" alt="" />
<section class="container">
	<h1>Peacha.net创作者公约</h1>
	<p class="update_time">最新更新日期：2020年10月10日</p>
	<p>
		为维护Peacha.net网站环境的健康， 为本站创作者提供良好的创作环境，请您在发布作品前仔细阅读并遵守此公约。
		如您在使用过程中发现违规内容可通过作品详情页中的“更多-举报”进行举报，
		若作品侵犯到您本人的合法权利或知识产权，请通过维权举报向我们提供详细信息以便与我们更加准确、迅速的维护您的合法权利。
		Peacha.net将以严谨的态度对待所有作品。
	</p>
	<h3>一、封面图</h3>
	<p>1、封面图须为作品相关内容，差异过大可能会导致您的作品无法通过审核；</p>
	<p>2、封面图不得含有违规内容（包括但不仅限于暴力、血腥、色情、政治敏感等相关内容）。</p>
	<h3>二、作品内容</h3>
	<p>1、Peacha.net遵守法律与社会道德规定，禁止以下内容的发布：</p>
	<p class="pstyle1">·反对宪法所确定的基本原则的；</p>
	<p class="pstyle1">·危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
	<p class="pstyle1">·损害国家荣誉和利益的；</p>
	<p class="pstyle1">·煽动民族仇恨、民族歧视、破坏民族团结的；</p>
	<p class="pstyle1">·侮辱、拉用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的；</p>
	<p class="pstyle1">·破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
	<p class="pstyle1">·散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
	<p class="pstyle1">·散步淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
	<p class="pstyle1">·侮辱或者诽谤他人，侵害他人合法权益的；</p>
	<p class="pstyle1">·以任何方式危害未成年人的；</p>
	<p class="pstyle1">·侵犯任何人的专利、商标、著作权、商业秘密等知识产权的；</p>
	<p class="pstyle1">·含有法律、行政法规禁止的其他内容的信息。</p>
	<p>2、Peacha遵循网络低俗标准，禁止低俗内容发布，包括但不限于：</p>
	<p class="pstyle1">·表现或隐晦表现性行为、令人产生性联想、具有挑逗性或者侮辱性的内容；</p>
	<p class="pstyle1">·对人体性部位的直接暴露和描写；</p>
	<p class="pstyle1">·对性行为、性描写、性方式的描述或者带有性暗示、性挑逗的语言；</p>
	<p class="pstyle1">·对性部位描述、暴露，或者只用很小遮盖物的内容；</p>
	<p class="pstyle1">·全身或者隐私部位未着衣物，仅用肢体掩盖隐私部位的内容；</p>
	<p class="pstyle1">·带有侵犯个人隐私性质的走光、偷拍、露点等内容；</p>
	<p class="pstyle1">·以挑逗性标题吸引点击的；</p>
	<p class="pstyle1">·相关部门禁止传播的色情、低俗小说，音视频内容，包括一些电影的删节片段；</p>
	<p class="pstyle1">·一夜情、换妻、SM等不正当交友信息；</p>
	<p class="pstyle1">·情色动漫；</p>
	<p class="pstyle1">·宣扬血腥暴力、恶意谩骂、侮辱他人等内容；</p>
	<p class="pstyle1">·非法“性药品”广告和性病治疗广告；</p>
	<p class="pstyle1">·未经他人允许或利用“人肉搜索”恶意传播他人隐私信息。</p>
	<p>3、出于对未成年人的保护，Peacha.net禁止发布危害未成年人的内容，包括但不限于：</p>
	<p class="pstyle1">·未成年人涉色情低俗内容；</p>
	<p class="pstyle1">·未成年人涉血腥暴力内容；</p>
	<p class="pstyle1">·未成人涉赌博诈骗内容；</p>
	<p class="pstyle1">·未成年妈妈相关内容；</p>
	<p class="pstyle1">·教唆未成年人犯罪；</p>
	<p class="pstyle1">·侵犯未成年人个人隐私；</p>
	<p class="pstyle1">·对未成人进行人身攻击；</p>
	<p class="pstyle1">·未成年人参与人身伤害、死亡风险较高的活动；</p>
	<p class="pstyle1">·儿童邪典内容。</p>
	<p>4、其他禁止内容：</p>
	<p class="pstyle1">·含有纳粹主义，军国主义等宣扬、美化侵略战争和侵略行为的内容；</p>
	<p class="pstyle1">·恶意恶搞经典文艺作品；</p>
	<p class="pstyle1">·各类赌博诈骗信息；</p>
	<p class="pstyle1">·存在木马、病毒等非法网站信息；</p>
	<p class="pstyle1">·枪支、弹药及毒品等违禁品的制作、销售等信息；</p>
	<p class="pstyle1">·根据《互联网新闻信息服务管理规定》，禁止个人账号发布时政内容；</p>
	<p class="pstyle1">·宣传游戏外挂、私服等内容；</p>
	<p class="pstyle1">·垃圾广告内容；</p>
	<p class="pstyle1">
		·包含涉及种族、宗教信仰、民族、性别、年龄、国籍、残障、性取向等针对特定对象或群体的语言人身攻击，或藉由以上内容挑拨矛盾、煽动对立、仇恨情绪的内容。
	</p>
	<h3>三、标题</h3>
	<p class="pstyle1">1、请不要使用无意义或与作品内容不相关的文字作为标题，这可能导致您的作品无法通过审核；</p>
	<p class="pstyle1">2、禁止使用垃圾信息（包括但不限于广告、引战等内容）作为标题。</p>
	<h3>四、标签</h3>
	<p class="pstyle1">1、添加标签可以对作品进行自动分类，使用户查看作品更加方便。使用正确的标签可以使您的作品被更多人看到。</p>
	<p class="pstyle1">2、Peacha不提倡使用无意义或不相关的标签。</p>
	<h3>五、简介</h3>
	<p class="pstyle1">1、Peacha.net不提倡与作品内容不相关的简介内容，详细的简介内容可以让其他用户更容易了解您与您的作品；</p>
	<p class="pstyle1">2、简介内容请不要填写违规内容与违反法律、道德规范的内容（包括但不限于：垃圾广告信息，淫秽色情信息等）；</p>
	<p class="pstyle1">3、您可以在您的同人作品简介中添加您的联系信息，以便其他有需要的用户联系您。</p>
	<h3>六、版权相关</h3>
	<p>
		Peacha.net无法判定作品版权所有权的归属，也无法解决权利所有权纠纷。若是您认为您的版权被侵权，可以通过Peacha.net页脚的“维权举报”进行申诉，接到符合要求的投诉后，我们会予以处理，尽可能地保护创作者的合法权益。
	</p>
	<p class="pstyle1">
		1、未经著原作者同意，用户不得将作品及其衍生作品（包括但不限于图片、文字、视频、Live2D、3D模型等作品）上传至Peacha.net用户转载传播（包括但不限于复制、修改、印刷或公开展示）
	</p>
	<p class="pstyle1">
		2、Peacha.net仅能在一定程度上提供对您的著作权保护，
		为了保障您的权益，避免您遭受不必要的损失，请您在上传作品前预先进行防侵权措施（包括但不限于申请美术作品版权、添加水印、添加签名、降低清晰度等方式），
		因侵权产生的一切的法律纠纷与经济损失都将由您独自承担。
	</p>
	<p class="pstyle1 pstyle2">对于上传禁止发布内容的账号，经过查证后，将视情节严重程度进行处罚。</p>
</section>
