<div class="all">
	<div class="more" cdkScrollable>
		<div class="one">
			<div class="hello" *ngFor="let item of noticeList;let index;trackBy:trackByIndex">
				<div class="top">
					<span class="own">{{item?.one}}</span>
					<a [routerLink]="[item?.catenationOne]">{{item?.two}}</a>
					<span class="own">{{item?.three}}</span>
				</div>
				<div class="buttom">
					<span class="time">{{item?.public_time | date:"yyyy-MM-dd HH:mm"}}</span>

					<span
						*ngIf="item.news_type==152 || (item.news_type<=160 && item.news_type>=154);else lianjie"
						class="detail"
						[routerLink]="[item?.catenationTwo]"
						[queryParams]="{id:item?.query,jk:1}"
						>{{item?.four}}</span
					>
					<ng-template #lianjie>
						<span class="detail" [routerLink]="[item?.catenationTwo]" [queryParams]="{jk:1}">{{item?.four}}</span>
					</ng-template>
				</div>
			</div>
			<ng-container *ngIf="(noticeCount$|async)===null">
				<div class="empty">loading...</div>
			</ng-container>
			<ng-container *ngIf="(noticeCount$|async)===0 && (page$|async)===0">
				<div class="empty">
					<ivo-lack-image></ivo-lack-image>
				</div>
			</ng-container>
		</div>
	</div>
</div>
