<div class="live2dorillust-container">
  <div class="left" [ngClass]="{ active: activeList[0] }" (click)="select(0, 'illust')">
    <img src="/assets/image/release/01.png" alt="" />
    <div>插画</div>
  </div>

  <div class="right" [ngClass]="{ active: activeList[2] }" (click)="select(2, 'live2d')">
    <img src="/assets/image/release/02.png" alt="" />
    <div>Live2D</div>
  </div>

  <div class="right" [ngClass]="{ active: activeList[1] }" (click)="select(1, '3d')">
    <img src="/assets/image/release/05.png" alt="" />
    <div>3D模型</div>
  </div>
</div>