<div class="head-img">
    <a target="_blank"
        href="https://store.steampowered.com/app/1279610/PrprLive/">
        <img src="/assets/image/publicity/girl.png">
    </a>
</div>

<div class="publicity-content">
    <div class="publicity-content-item">
        <div>
            <div class="publicity-content-text">
                <dl>
                    <dt>{{"publicity.high_performance_surface_trap" | translate}}</dt>
                    <dd>{{"publicity.high_performance_surface_trap_details" | translate}}</dd>
                </dl>
                <ivo-lazy-img ngLazyLoad="/assets/image/publicity/高性能面捕.png"></ivo-lazy-img>
            </div>
            <span class="video-one" (click)="playVideo('/assets/video/高性能.mp4')">
                <img src="/assets/image/publicity/right.svg">
            </span>
        </div>
    </div>
    <div class="publicity-content-item">
        <div>
            <div class="publicity-content-text">
                <dl>
                    <dt>{{"publicity.gift_drop" | translate}}</dt>
                    <dd>{{"publicity.gift_drop_details" | translate}}。</dd>
                </dl>
                <ivo-lazy-img ngLazyLoad="/assets/image/publicity/礼物掉落.png"></ivo-lazy-img>
            </div>
            <span class="video-one" (click)="playVideo('/assets/video/礼物掉落.mp4')">
                <img src="/assets/image/publicity/left.svg" alt="">
            </span>
        </div>
    </div>
    <div class="publicity-content-item">
        <div>
            <div class="publicity-content-text">
                <dl>
                    <dt>{{"publicity.transparent_push_flow" | translate}}</dt>
                    <dd>{{"publicity.transparent_push_flow_details" | translate}}!</dd>
                </dl>
                <ivo-lazy-img ngLazyLoad="/assets/image/publicity/透明推流.png"></ivo-lazy-img>
            </div>
            <span class="video-one" (click)="playVideo('/assets/video/透明推流.mp4')">
                <img src="/assets/image/publicity/right.svg" alt="">
            </span>
        </div>
    </div>
    <div class="publicity-content-item">
        <div>
            <div class="publicity-content-text">
                <dl>
                    <dt>{{"publicity.multi_person_linkage"  | translate}}</dt>
                    <dd>(coming soon){{"publicity.multi_person_linkage_details" | translate}}</dd>
                </dl>
                <ivo-lazy-img ngLazyLoad="/assets/image/publicity/多人联动.png"></ivo-lazy-img>
            </div>
            <span class="video-one" (click)="playVideo('/assets/video/多人联动.mp4')"> <img
                    src="/assets/image/publicity/left.svg" alt=""></span>
        </div>
    </div>
    <div class="publicity-content-item">
        <div>
            <div class="publicity-content-text">
                <dl>
                    <dt>{{"publicity.live2d_lighting"  | translate}}</dt>
                    <dd>{{"publicity.live2d_lighting_details" | translate}}。</dd>
                </dl>
                <ivo-lazy-img ngLazyLoad="/assets/image/publicity/Live2D光照.png"></ivo-lazy-img>
            </div>
            <span class="video-one" (click)="playVideo('/assets/video/光照.mp4')">
                <img src="/assets/image/publicity/right.svg" alt="">
            </span>

        </div>
    </div>
</div>


<div class="publicity-footer">
    <section>
        <h1>{{"publicity.recommended_configuration"  | translate}}</h1>
        <div>
            <div class="introduce">
                <p>{{"publicity.operating_system" | translate}}： Windows 10</p>
                <p> CPU：Intel Core i5 4200</p>
            </div>
            <div class="introduce">
                <p>{{"publicity.RAM" | translate}}： RAM</p>
                <p>{{"publicity.video_card" | translate}}：GTX 950M DirectX</p>
            </div>
            <!-- <div class="introduce">
                <p>版本：11</p>
            </div> -->
        </div>
    </section>
</div>
