<div class="main" *ngrxLet="good$;let good">
	<div class="ma">
		<img src="/assets/image/member/manage.svg" />
		商品管理
		<!-- <img src="/assets/image/svg/close.svg" (click)="close()"> -->
	</div>
	<div class="kuang">
		<div class="index">
			<span class="name">商品名称</span>
			<span>商品状态</span>
			<span>出售数量</span>
			<span>出售类型</span>
			<span>价格</span>
			<span class="do">操作</span>
		</div>
		<div class="list">
			<div class="show" *ngFor="let item of good.list">
				<span class="name">
					<span [class.line]="item.sellState==0">{{item.name}}</span>
				</span>
				<span class="not" *ngIf="item.sellState==0;else on" [class.line]="item.sellState==0">已下架</span>
				<ng-template #on>
					<span class="can"> 出售中</span>
				</ng-template>
				<span [class.line]="item.sellState==0">{{item.saleNumber}}</span>
				<span>
					<span *ngIf="item.maxStock==1;else no" [class.line]="item.sellState==0">单次出售</span>
					<ng-template #no>
						<span [class.line]="item.sellState==0"> 多次出售 </span>
					</ng-template>
				</span>

				<span class="price">
					<span [class.line]="item.sellState==0">
						<ng-container *ngIf="item.price>0"> ¥{{item.price|number}} </ng-container>
						<ng-container *ngIf="item.price===0"> 免费分享</ng-container>
					</span>
				</span>

				<span
					class="change"
					[class.cannot-change]="item.sellState==0 || item.price==0"
					(click)="changePrice(item.price,item.id,item.name)"
				>
					改价
				</span>
				<span class="do red" *ngIf="item.sellState==0;else down" (click)="up(item.id,1)">上架</span>
				<ng-template #down>
					<span class="do" (click)="up(item.id,0)"> 下架</span>
				</ng-template>
			</div>
		</div>

		<div class="btn">
			<button (click)="close()">返回</button>
		</div>
		<div class="tips" *ngIf="good?.list==0">暂无商品可管理</div>
	</div>
</div>
