<form [formGroup]="detailsForm" (ngSubmit)="appendProfile()" *ngrxLet="user$;let user">
    <h2>{{"register.personal_information_improvement" | translate}}</h2>
    <div class="form-control">
        <label >
            {{"register.head_icon" | translate}}
        </label>
        <crop-image class="crop" formControlName="avatar" [imgUrl]="user.avatar"></crop-image>
    </div>

    <div class="form-control">
        <label>
            {{"register.nickname" | translate}}：
        </label>
        <input formControlName="nickname"
        >
        <div [errorDisplay]="nickname">
            <ng-container *errorCase="'myPattern'">
                {{"register.nickname_format" | translate}}！
            </ng-container>
            <ng-container *errorCase="'maxlength'">
                {{"register.nickname_maxlength" | translate}}
            </ng-container>
            <ng-container *errorCase="'required'">
                {{"register.nickname_required" | translate}}！
            </ng-container>
            <ng-container *errorCase="'minlength'">
                {{"register.nickname_minlength" | translate}}
            </ng-container>
            <ng-container *errorCase="'second'">
                {{"register.single" | translate}}
            </ng-container>
        </div>
    </div>

    <div class="form-control">
        <label>
            {{"register.personal_profile" | translate}}：
        </label>
        <textarea formControlName="description" rows="4" cols="60"
        [value]="user.description"
        ></textarea>
        <div [errorDisplay]="description">
            <ng-container *errorCase="'maxlength'">
                {{"register.personal_profile_details" | translate}}
            </ng-container>
        </div>
    </div>

    <div class="form-check">
        <a (click)="goBack()">{{"register.skip" | translate}}</a>
        <!-- <button #save [attr.disabled]="isDisabled">保存</button> -->
        <button #save>{{"register.save" | translate}}</button>
    </div>

</form>
