<div class="addition-body">
    <!-- <ul class="way"> -->
    <nz-radio-group [(ngModel)]="ChangeMany">
        <label nz-radio id="none" nzValue="0" [nzDisabled]="noneDisabled">无附加商品</label>
        <label nz-radio id="many" nzValue="2" [nzDisabled]="manyDisabled">不限量销售</label>
        <label nz-radio id="single" nzValue="1" [nzDisabled]="singleDisabled">单次销售</label>
    </nz-radio-group>
    <form [formGroup]="form">
        <div formArrayName="gl" #additionals>
            <ivo-additional *ngFor="let item of gl.controls;let i=index;trackBy:trackBy" [formControlName]="i"
                [isResertBeforeUpload]="isResertBeforeUpload" [buttonWord]='buttonWord' [canUpload]="canUpload"
                [canDelete]='canDelete' [canInputTitle]='canInputTitle' [canInputPrice]='canInputPrice'
                [handlingRate]='(handlingRate$ | async).rate'
                [isDelete]="ivoDisabled === true? false: (isMany$ | async)" [index]="i" (delete)="deleteAddid($event)">
            </ivo-additional>
        </div>
    </form>
    <ng-container *ngIf="(isMany$ | async) && !(isOnly$ | async)">
        <div class="add-additional" (click)="AddAdditional({})">
            <span></span>
            <span>添加新的付费下载内容</span>
        </div>
    </ng-container>
</div>
