<div class="box">
	<img class="close" src="/assets/image/n7r/icon/close.svg" (click)="close()" />
	<div class="list" *ngrxLet="orderList$">
		<ng-container *ngIf="type$.value===0">
			<h2>购买记录</h2>
			<div class="item-list sure" cdkScrollable>
				<li class="title">
					<span class="pic"></span>
					<span class="name">商品</span>
					<span class="normal">价格</span>
					<span class="time">购买日期</span>
					<span class="normal"></span>
				</li>

				<li class="good" *ngFor="let a of list">
					<img class="pic" [src]="a.goods.cover" />
					<span class="name">{{a.goods.name}}</span>
					<span class="normal">¥{{a.goods.price*a.goods.count}}</span>
					<span class="time">{{a.payTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
					<span class="normal special" (click)="select(a.id,a.goods.types)">查看详情</span>
				</li>
			</div>
		</ng-container>
		<ng-container *ngIf="type$.value!=0">
			<div class="list" *ngrxLet="detail$;let detail">
				<ng-container *ngrxLet="addressDetail$;let addressDetail">
					<h2><img src="/assets/image/n7r/icon/back.svg" (click)="type$.next(0)" />订单详情</h2>

					<li class="hello">订单信息</li>
					<div class="item-list">
						<li class="title">
							<span class="pic"></span>
							<span class="name">商品</span>
							<span class="normal">单价</span>
							<span class="normal">数量</span>
							<span class="normal">价格</span>
						</li>
						<li class="good" *ngFor="let g of detail.goods">
							<img class="pic" [src]="g.cover" />
							<span class="name">{{g.name}}</span>
							<span class="normal">¥{{g.price}}</span>
							<span class="normal">{{g.count}}</span>
							<span class="normal">¥{{g.price*g.count}}</span>
						</li>
					</div>
					<li class="hello">收货信息</li>
					<div class="info">
						<li class="info-item">
							<span class="before">收货人</span>
							<span>{{addressDetail?.nickName}}</span>
						</li>
						<li class="info-item">
							<span class="before">手机号码</span>
							<span>{{addressDetail?.phone}}</span>
						</li>
						<li class="info-item">
							<span class="before">收货地址</span>
							<span
								>{{addressDetail.province+addressDetail.city+addressDetail.county+addressDetail.street+addressDetail.addressDetail}}</span
							>
						</li>
					</div>
					<li class="hello">配送信息</li>
					<div class="info">
						<li class="info-item">
							<span class="before">预计发货时间</span>
							<span>2021年{{scheduledTime}}月</span>
						</li>
						<li class="info-item">
							<span class="before">请注意查收短信/电子邮件</span>
						</li>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
</div>
