<div class="bgc">
    <div class="main">
        <div class="index">
            账单详情
            <span class="return" (click)="goBack()">&lt;返回列表</span>
        </div>
        <ng-container *ngrxLet="orderinfo$;let orderinfo">
            <div class="detail">
                <li *ngFor="let item of orderinfo.orders">
                    <div class="top">
                        <img [attr.src]="item.work_cover" (click)="toWork(item.work_type,item.work_id)">
                        <span class="left">
                            <span class="work" (click)="toWork(item.work_type,item.work_id)">{{item.work_name}}</span>
                            <span class="good">商品名称：{{item.goods_name}}</span>
                            <span class="seller">卖家：{{item.seller_name}}</span>
                        </span>
                        <span class="right">
                            <span class="type" *ngIf="item.single;else other">单次出售</span>
                            <ng-template #other>
                                <span class="type">不限量出售</span>
                            </ng-template>
                            <span class="price">价格：<a>¥{{item.price| number:'1.2-2'}}</a></span>
                        </span>
                    </div>
                    <div class="bottom">
                        <span class="order">订单号：{{item.order_id}}</span>
                        <span class="result"  [ngSwitch]="item.state">订单状态：
                                <ng-container *ngSwitchCase="4">
                                    退款中
                                </ng-container>
                                <ng-container *ngSwitchCase="5">
                                    退款完成
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                    已支付
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                    超时
                                </ng-container>
                                <ng-container *ngSwitchCase="0">
                                   待支付
                                </ng-container>
                        </span>
                    </div>

                </li>
            </div>
            <div class="info">
                <li>
                    <span>支付交易号：{{orderinfo.id}}</span>
                    <span>支付方式：{{orderinfo.channel}}</span>
                </li>
                <li>
                    <span>创建时间：{{orderinfo.start_time|date:"yyyy-MM-dd HH:mm" }}</span>
                    <span>支付时间：{{orderinfo.end_time|date:"yyyy-MM-dd HH:mm"}}</span>
                </li>
            </div>
        </ng-container>
    </div>
</div>