<div class="all">
	<div class="top" *ngrxLet="params$">
		<!-- <ivo-select class="select" [formControl]="m">
            <ivo-option value="-1" text="全部作品" (click)="changePage()"></ivo-option>
            <ivo-option value="0" text="仅作品" (click)="changePage()"></ivo-option>
            <ivo-option value="1" text="单次出售" (click)="changePage()"></ivo-option>
            <ivo-option value="2" text="多次出售" (click)="changePage()"></ivo-option>
        </ivo-select> -->

		<!-- <div class="search">
            <input type="text" placeholder="搜索" (keydown.Enter)="keyword()" (blur)="keyword()" [formControl]="key">
            <img src="assets/image/svg/worksearch.svg" class="work-search" />
        </div> -->
	</div>
	<div class="detail" *ngrxLet="works$;let works">
		<div class="wo">
			<ng-container *ngFor="let item of works?.list">
				<ivo-single-manager [item]="item" [type]="item?.price>0? 2:0" [state]="1" (delete)="ll($event)"> </ivo-single-manager>
			</ng-container>
			<ng-container *ngIf="works?.count==0">
				<ivo-lack-image></ivo-lack-image>
			</ng-container>
		</div>

		<div class="page" *ngIf="works?.count>6">
			<ng-container *ngrxLet="currentPage$;let currentPage">
				<ivo-pagination
					[total]="works.count"
					[currentPage]="currentPage"
					[pageSize]="6"
					(onPageChange)="toPage($event)"
				></ivo-pagination>
			</ng-container>
		</div>
	</div>
</div>
