<div class="main" *ngrxLet="order$;let items">
    <div *ngrxLet=" select$;let  selects">
        <div class="index">
            <div class="check" *ngrxLet="type$;let t">
                <a [routerLink]="[]" [queryParams]="{t:-1,p:1}" queryParamsHandling="merge"
                    [ngClass]="{active: t==-1}">全部</a>
                <a [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{t:0,p:1}"
                    [ngClass]="{active: t==0}">待支付</a>
                <a [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{t:1,p:1}"
                    [ngClass]="{active: t==1}">已完成</a>
                <a [routerLink]="[]" queryParamsHandling="merge" [queryParams]="{t:2,p:1}"
                    [ngClass]="{active: t==2}">已失效</a>
                <a queryParamsHandling="merge" [routerLink]="[]" [queryParams]="{t:3,p:1}"
                    [ngClass]="{active: t==3}">退款</a>
            </div>
            <div class="search">
                <input class="se" type="text" placeholder="搜索" [formControl]="key" (keydown.Enter)="keyword()"
                    (blur)="keyword()" />
                <img class="mag" src="assets/image/worksearch.png" />
            </div>
        </div>

        <div class="all">
            <div class="show" *ngFor="let item of items.list" (click)="skipdetail(item.orderid)">
                <img [src]="item.cover"  />
                <div class="des">
                    <div class="left">
                        <span class="name" >{{item.work_name}}</span>
                        <!-- <span class="small">商品名称：{{item.goods_name}}</span> -->
                        <span class="small">卖家：{{item.seller_name}}</span>
                        <span class="smal">订单号：{{item.orderid}}</span>
                    </div>
                    <div class="right">
                        <div class="tw-f">
                            <span class="tw" (click)="cancel(item.orderid,$event)" *ngIf="item.state==0;else n">取消订单</span>
                            <ng-template #n>
                                <span class="tw" (click)="delet(item,$event)">删除</span>
                            </ng-template>
                        </div>
                        <span class="money1">
                            <span [ngSwitch]="item.state">
                                <span class="has" *ngSwitchCase="0">
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                                <span class="has" *ngSwitchCase="1">
                                    已完成
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                                <span class="lose" *ngSwitchCase="2">
                                    已失效
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                                <span class="lose" *ngSwitchCase="3">
                                    已失效
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                                <span class="usual" *ngSwitchCase="4">
                                    退款中
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                                <span class="has" *ngSwitchCase="5">
                                    已退款
                                    <span class="vv">
                                        ¥ {{item.price}}
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span>
                            <span class="ts" *ngIf="item.state==0;else time">
                                请在<ivo-cd [createtime]="item.createtime" (cdTimeout)="orderTimeout()"></ivo-cd>内支付
                                <button (click)="toPay(item.orderid,$event)">立即支付</button>
                            </span>
                            <ng-template #time>
                                <span class="ts" [ngSwitch]="item.state">
                                    <span *ngSwitchCase="2">
                                        失效时间：{{item.completetime|date:"yyyy-MM-dd HH:mm"}}
                                    </span>
                                    <span *ngSwitchCase="3">
                                        失效时间：{{item.completetime|date:"yyyy-MM-dd HH:mm"}}
                                    </span>
                                    <span *ngSwitchCase="5">
                                        退款时间：{{item.completetime|date:"yyyy-MM-dd HH:mm"}}
                                    </span>
                                    <span *ngSwitchDefault>
                                        支付时间：{{item.completetime|date:"yyyy-MM-dd HH:mm"}}
                                    </span>
                                </span>
                            </ng-template>
                        </span>
                    </div>
                </div>
            </div>
            <div class="lack" *ngIf="items.list.length==0">
                <ivo-lack-image></ivo-lack-image>
            </div>

        </div>

        <div>
            <!-- <div class="bot" *ngIf="items.count!=0">
                <div>
                    <label>
                        <input
                            (click)="selectall(items)"
                            type="checkbox"
                            [checked]="(selects.size==items.list.length)&&items.list.length!=0"
                        />全选
                    </label>
                    <button (click)="deletall(selects)">删除</button>
                </div>
                <div>
                    <span class="goods"
                        >已选商品
                        <span class="money">{{selects.size}}</span>件</span
                    >
                    <span
                        >合计：<span class="money"
                            >{{ prices$ | ngrxPush | number:'1.2-2' }}</span
                        ></span
                    >
                    <button id="clear" (click)="sum()">结算</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="page" *ngIf="items.count>4">
        <ivo-pagination [total]="items?.count" [pageSize]="4" [currentPage]="(page$|async)" (onPageChange)="page($event)">
        </ivo-pagination>
    </div>
</div>
