<div class="illust-free-container form">
  <form [formGroup]="form">
    <div class="form-item">
      <div class="title">发布作品</div>
    </div>

    <div class="form-item">
      <div class="title">作品信息</div>
      <div class="form-controller">
        <div class="title required">
          作品标题
          <span class="word-count">{{ title.value.length }}/20</span>
        </div>
        <input ivoErroTip ivoErrorTipString="请输入标题!" formControlName="n" class="input" maxlength="20"
          placeholder="请输入作品标题" data-control-index="0" #title />
      </div>
      <div class="form-controller">
        <div class="title required">
          作品简介
          <span class="word-count">{{ des.value.length }}/1000</span>
        </div>
        <textarea ivoErroTip ivoErrorTipString="请输入作品简介!" formControlName="d" class="textarea" maxlength="1000" rows="4"
          placeholder="请输入作品简介…&#10;&#10;" data-control-index="0" #des></textarea>
      </div>
    </div>

    <div class="form-item">
      <div class="title" [ivoNoticeTitle]="'标签能让更多小伙伴看到你的作品(最多输入5个)'">标签</div>
      <div class="form-controller">
        <ivo-tag-input formControlName="t" data-control-index="1"></ivo-tag-input>
      </div>
    </div>

    <div class="form-item">
      <div class="title" [ivoNoticeTitle]="'上传封面图片大小5M以下，长宽不得超过16384*16384px'">上传封面</div>
      <div class="form-controller required">
        <ivo-thumbnail-upload maxSize="5242880" formControlName="b" ivoErroTip ivoErrorTipString="请上传封面!"
          data-control-index="2">
        </ivo-thumbnail-upload>
      </div>
    </div>

    <div class="form-item  select-preview">
      <div class="title" [ivoNoticeTitle]="'可多选'">选择预览方式</div>
      <div class="form-controller 	required-center">
        <form [formGroup]="checkedForm">
          <nz-checkbox-wrapper (nzOnChange)="changeSelectPreviewType($event)">
            <label nz-checkbox [nzValue]="'image'" formControlName="selectPreViewImage"><span
                class="select-preview-checkbox">图片/GIF预览</span></label>

            <label nz-checkbox [nzValue]="'bv'" formControlName="selectPreViewTv"><span
                class="select-preview-checkbox">Bilibili视频预览</span></label>
          </nz-checkbox-wrapper>
        </form>
      </div>
    </div>

    <div class="form-item uplaod-Image" *ngIf="ESelectPreviewType.includes('image')">
      <div class="title" [ivoNoticeTitle]="'支持JPEG.PNG.GIF等格式，每张图片不得大于5M，长宽不得超过16384*16384px'">上传图片/GIF</div>
      <div class="form-controller required-center">
        <ivo-illustrate-upload maxSize="5242880" ivoErroTip ivoErrorTipString="请上传图片" formControlName="f"
          data-control-index="3">
        </ivo-illustrate-upload>
      </div>
    </div>

    <div class="form-item bv" *ngIf="ESelectPreviewType.includes('bv')">
      <div class="title">上传Bilibili视频</div>
      <div class="form-controller required-center">
        Bilibili视频BV号:&nbsp;&nbsp;&nbsp;&nbsp;<input ivoErroTip ivoErrorTipString="请上传bv号" #bv_input type="text"
          class="input" #copyright formControlName="bv" data-control-index="4" />
        <button class="button" ivo-button (click)="setBvNumber(bv_input.value)">预览视频</button>
      </div>
      <div class="form-controller">
        <iframe [attr.src]="bvUrl" class="bv-video" *ngIf="bvUrl"></iframe>
      </div>
    </div>

    <div formArrayName="gl">
      <div *ngFor="let item of glArray.controls; index as i;trackBy:trackBy" class="form-item  free-share-file-upload"
        [formGroupName]="i">
        <div class="title" [ivoNoticeTitle]="'文件大小不得大于210M。'"><span>上传免费分享内容-{{i+1}}</span><span
            class="ivo-icon-delete-circle" (click)="deleteGl(item.symbol)"></span></div>
        <div class="form-controller required-center">
          <div class="share-file">
            <span class="">分享文件:</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <ivo-file-upload formControlName="f" ivoErroTip ivoErrorTipString="请上传分享文件!" [acceptType]="'.zip'">
            </ivo-file-upload>
          </div>

          <span class="select-upload-type required-center">
            <ivo-select fontSize="16px" formControlName="ft" ivoErroTip ivoErrorTipString="请选择类型!">
              <ivo-option [value]='0' text='.psd'></ivo-option>
              <ivo-option [value]='1' text='.moc3'></ivo-option>
              <ivo-option [value]='2' text='.vrm'></ivo-option>
              <ivo-option [value]='3' text='.vup'></ivo-option>
              <ivo-option [value]='4' text='.unitypackage'></ivo-option>
              <ivo-option [value]='5' text='.fbx'></ivo-option>
              <ivo-option [value]='99' text='其他'></ivo-option>
            </ivo-select>
          </span>

          <span class="free-share-file-tip" *ngIf="item.value.ft === 4">模型内包含的插件或shader请在详情内具体说明</span>
        </div>

        <div class="form-controller no-top-line required-center share-file-name">
          <div class="input-area">
            <span class="word-count">{{ share_name_input.value.length }}/20</span>
            免费分享名称:&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="请输入商品名称请输入商品名称请输入商品名称" ivoErroTip
              ivoErrorTipString="请填写免费商品名称!" #share_name_input type="text" formControlName="n" maxlength="20"
              class="input">
          </div>
        </div>
      </div>

    </div>
    <div class="form-item add-free-goodList">
      <div class="title" (click)="addGoodsList()" [ivoNoticeTitle]="'最多添加5个免费分享内容'"><span
          class="ivo-icon-add-circle add-free-goodList-operate">新增免费分享内容</span></div>
    </div>

    <div class="form-item explain">
      <div class="title">版权声明</div>
      <div class="form-controller">
        <nz-radio-group formControlName="c" data-control-index="4" ivoErroTip ivoErrorTipString="请选择版权声明!"
          (ngModelChange)="changeCopyrightState($event)">
          <label nz-radio [nzValue]="0" [nzDisabled]="isEdit">此作品为原创作品</label>
          <label nz-radio [nzValue]="1" [nzDisabled]="isEdit">此作品为同人作品</label>
        </nz-radio-group>
        <nz-checkbox-wrapper (nzOnChange)="changeCopyright($event)">
          <form [formGroup]="checkedForm">
            <div nz-col>
              <ng-container *ngFor="let item of copyrightCheckes$ | async; let i = index">
                <div>
                  <label nz-checkbox [nzValue]="item['id']" (click)="(copyright.click)" formControlName="copychecked"
                    [nzChecked]="copyrightModel.includes(item['id'])" [nzDisabled]="isEdit || stateMentStates[i]">{{
                    item['name'] }}</label>
                </div>
              </ng-container>
              <input type="hidden" formControlName="copyright" #copyright data-control-index="4" />
            </div>
          </form>
        </nz-checkbox-wrapper>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <nz-checkbox-wrapper>
          <nz-row class="releaseNotice" [ivoNoticeTitle]="
							'为维护网站环境，请严格遵守Peacha.net创作者公约。严禁盗用他人作品，或上传涉及描摹、临摹、抄袭等行为。'
						"></nz-row>
          <nz-row class="releaseNotice" [ivoNoticeTitle]="
						'作品发布后将进入为期一周的公示期，公示期间若发现作品出现描摹、临摹、抄袭等行为，平台会进行违规处理。作品为商品或免费分享时，在公示期间将无法购买/下载。'
					"></nz-row>
          <nz-row class="readme">
            <label nz-checkbox formControlName="checked" ivoErroTip ivoErrorTipString="请勾选作品上传协议!">
              我已阅读且同意
            </label>
            <a target="_blank" href="/useragreement">《Peacha用户协议》</a>
            和
            <a class="convention" href="/convention" target="_blank">《Peacha.net创作者公约》</a>
          </nz-row>
        </nz-checkbox-wrapper>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <input ivo-button type="button" value="提交" #submitButton />
      </nz-form-control>
    </nz-form-item>
  </form>

</div>