<div class="user-linkage-order">
    <div class="head">
        <span class="title">{{"linkageTime.recharge_record" | translate}}</span>
        <span routerLink="../" class="back">{{"linkageTime.go_back" | translate}} ></span>
    </div>
    <div class="order" *ngrxLet="orders$;let orders">
        <div class="head">
            <span>{{"linkageTime.recharge_time" | translate}}</span>
            <span>{{"linkageTime.order_number" | translate}}</span>
            <span>{{"linkageTime.payment_amount" | translate}}</span>
            <span>{{"linkageTime.recharge_duration" | translate}}</span>
        </div>
        <div class="content">
            <div class="item" *ngFor="let order of orders.list">
                <div>{{order.completetime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                <div>{{order.id}}</div>
                <div>￥{{order.price}}</div>
                <div>{{order.hours}}{{"linkageTime.hour" | translate}}</div>
            </div>
        </div>
        <div class="page" *ngIf="orders.list.count!=0">
            <ivo-page *ngrxLet="page$;let page" [currentPage]="page" [total]="orders.count" [pageSize]="10"
                (onPageChange)="page$.next($event)"></ivo-page>
        </div>
    </div>
</div>
