<div class="container1" ivoStepper #step="steps">
	<!-- step 1 选择支付方式 -->
	<ng-container *ngrxLet="tradeInfo$;let tradeInfo">
		<div class="step select" *ivoStep="'select'">
			<h3>您所需支付的金额</h3>
			<h3 class="price">¥{{tradeInfo.amount | number:'1.2-2'}}</h3>
			<div class="method-list">
				<h3>
					选择支付方式
					<a>请在{{timer$|ngrxPush|mydate:"mm:ss"}}内支付</a>
				</h3>
				<ng-container *ngrxLet="choice$;let choice">
					<div class="method" (click)="choice$.next([false,true,false])" [ngClass]="{'shadow':choice[1]}">
						<img src="/assets/image/z_alipay.png" />
						支付宝支付
					</div>
				</ng-container>
			</div>
			<div class="must tip">支付过程中，请勿关闭此页面。</div>
			<div class="must">若无付款二维码页面，请检查浏览器是否拦截弹出式窗口。</div>
			<li class="btn">
				<button class="fan" (click)="goCart()">返回</button>
				<button (click)="next()">确定</button>
			</li>
		</div>

		<!-- step 2 支付宝生成二维码，之后启动轮询机制 -->
		<div class="step qrcode" *ivoStep="'qrcode'">
			<img src="/assets/image/index/unindex-exchange.png" />
			<li>等待支付完成......</li>
			<div class="must tip">支付过程中，请勿关闭此页面。</div>
			<div class="must">若无付款二维码页面，请检查浏览器是否拦截弹出式窗口。</div>
			<div class="btnlist">
				<button class="no" (click)="goSelect()">取消支付</button>
			</div>
		</div>

		<!-- step 2 微信生成二维码，之后启动轮询机制 -->
		<div class="step qrcode" *ivoStep="'wechatqrcode'">
			<h3>金额：¥{{tradeInfo.amount | number:'1.2-2'}}</h3>
			<p>暂不支持微信支付</p>
			<button (click)="step.goto('select')">返回</button>
		</div>

		<!-- step 3 支付成功！ -->
		<div class="step success" *ivoStep="'success'">
			<img class="icon" src="/assets/image/svg/pay-success.svg" />
			<span>支付成功</span>
			<button (click)="toOrderList()">下一步</button>
		</div>

		<!-- step 3 支付失败！ -->
		<div class="step fali" *ivoStep="'fali'">
			<img class="icon" src="/assets/image/svg/pay-fali.svg" />
			<span>支付失败</span>
			<button (click)="toOrderList()">返回</button>
		</div>
	</ng-container>
</div>
