<div class="all">
	<div class="top"><span [routerLink]="['/setting/security']"> 安全设置 </span>-<span class="oo">实名认证</span></div>
	<div class="five">
		<img src="/assets/image/svg/i-code.svg" />
		<span class="tips">
			<img src="/assets/image/svg/i-green-check.svg" />
			您的实名认证已经提交成功，我们会在1-2个工作日内完成审核
		</span>
		<span class="bc">
			<!-- <ng-container *ngrxLet="timer$;let timer">
                该页面将于<a class="time">{{timer}}s</a>之后跳回个人中心，若5s后未跳转,请点击
                <a [routerLink]="['/setting/security']">回到个人中心</a>
            </ng-container> -->
			点击<a [routerLink]="['/setting/security']">回到个人中心</a>
		</span>
	</div>
</div>
