<div class="all">
    <li>
        热门商品
        <div class="params">
            <span>
                大佬们的作品都在这里！
            </span>

            <!-- <div class="type">
                <ivo-select class="one" [formControl]="order">
                    <ivo-option value='6' text='人气商品' borderStyle='1'></ivo-option>
                    <ivo-option value='1' text='最新发布'></ivo-option>
                    <ivo-option value='2' text='最多点赞'></ivo-option>
                    <ivo-option value='3' text='最多收藏' borderStyle='2'></ivo-option>
                </ivo-select>
                <ivo-select class="one" [formControl]="count">
                    <ivo-option value='-1' text='全部' borderStyle='1'></ivo-option>
                    <ivo-option value='1' text='单次出售'></ivo-option>
                    <ivo-option value='2' text='多次出售' borderStyle='2'></ivo-option>
                </ivo-select>
                <ivo-select class="one" [formControl]="time">
                    <ivo-option value='0' text='发售时间' borderStyle='1'></ivo-option>
                    <ivo-option value='-1' text='本日'></ivo-option>
                    <ivo-option value='-7' text='七日内'></ivo-option>
                    <ivo-option value='-30' text='一个月内'></ivo-option>
                    <ivo-option value='-90' text='三个月'></ivo-option>
                    <ivo-option value='-180' text='六个月'></ivo-option>
                    <ivo-option value='-360' text='一年' borderStyle='2'></ivo-option>
                </ivo-select>
            </div> -->

        </div>
    </li>

    <ng-container *ngrxLet="hotGoods$;let hotGoods">
        <div class="works">
            <ng-container *ngFor="let work of hotGoods.list">
                <ivo-work-card [work]="work"></ivo-work-card>
            </ng-container>
        </div>
        <ng-container *ngIf="hotGoods.count==0">
            <ivo-lack-image></ivo-lack-image>
        </ng-container>
        <ng-container *ngIf="hotGoods?.count>20">
            <div class="page" *ngrxLet="currentPage$;let currentPage">
                <ivo-pagination [currentPage]="currentPage" [total]="hotGoods.count" [pageSize]="20"
                    (onPageChange)="toPage($event)"></ivo-pagination>
            </div>
        </ng-container>
    </ng-container>
</div>
