<div class="bgc" *ngrxLet="item$;let it">
	<div class="main">
		<div class="in" #bgc>
			<div class="left">
				<ng-container *ngrxLet="works$;let items">
					<div class="st"><img src="/assets/image/svg/store.svg" /> 我的仓库</div>
					<div class="show" *ngIf="items?.count>0">
						<div class="des" [class.focus]="item.id==it.id" *ngFor="let item of items.list" (click)="selectOne(item.id)">
							<img
								[attr.src]="item.price==0?'/assets/image/work-card/free-tag.svg':item?.category===1?'/assets/image/work-card/ikon-tag.svg':item?.category===0?'/assets/image/work-card/Live2D-tag.svg':'/assets/image/work-card/3D-tag.svg'"
								class="good-icon"
							/>
							<img [src]="item.cover" [attr.checked]="it.id===item.id?true:null" />
							<div class="name">{{item.name}}</div>
							<div class="buy-time">入库时间：{{item.createTime|date:'yyyy-MM-dd HH:mm'}}</div>
						</div>
					</div>
				</ng-container>
				<div class="page" *ngIf="workCount$.value>6">
					<ivo-pagination
						[total]="workCount$.value"
						[pageSize]="6"
						[currentPage]="(page$|async)"
						(onPageChange)="page($event)"
					></ivo-pagination>
				</div>
			</div>
			<div class="right">
				<ng-container *ngIf="workCount$.value>0">
					<div class="mai">
						<div class="first">
							<img [src]="it.cover" (click)="toWork(it.id,it.category)" />
							<div class="des">
								<span class="na">{{it.name}} </span>
								<span class="detail" [ngSwitch]="it.category"
									>类型：
									<ng-container *ngSwitchCase="0"> Live2D </ng-container>
									<ng-container *ngSwitchCase="1"> 插画 </ng-container>
									<ng-container *ngSwitchCase="2"> 3D模型 </ng-container>
								</span>
								<span class="detail">作者：{{it.sellerName}}</span>
								<!-- <span class="detail">获取时间：{{it?.goods.createtime|date:"yyyy-MM-dd HH:mm"}}</span> -->
							</div>
						</div>
						<div class="good" *ngFor="let i of it.goods">
							<div class="aaa">
								<span class="name"> {{i.name}} </span>
							</div>
							<div class="bbb">
								<span>文件大小：{{(i?.fileSize/ 1048576).toFixed(2)}}M</span>
							</div>
							<div class="bbb">
								<span>购买时间：{{i.createTime|date:"yyyy-MM-dd HH:mm"}}</span>
								<span [ngSwitch]="i.maxStock">
									<ng-container *ngSwitchCase="1"> 单次出售 </ng-container>
									<ng-container *ngSwitchDefault> 多次出售 </ng-container>
								</span>
							</div>
							<button (click)="download(i?.id)">下载文件</button>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
