<div class="main">
    <div class="index">
        账单详情
        <span class="return" (click)="return()">
            &lt;返回列表</span>
    </div>
    <div class="des" *ngrxLet="payinfo$;let payinfo">
        <div class="first">
            <span class="price">提现金额：<a>¥{{payinfo.amount| number:'1.2-2'}}</a></span>
            <!-- <span class="cash">手续费：¥{{payinfo.commission| number:'1.2-2'}}</span> -->

        </div>
        <div class="hello">
            <span [ngSwitch]="payinfo.status">提现状态：
                <ng-container *ngSwitchCase="2">提现中</ng-container>
                <ng-container *ngSwitchCase="1">提现失败</ng-container>
                <ng-container *ngSwitchCase="0">已提现</ng-container>
            </span>
            <span>提现渠道：{{payinfo.channel}}</span>
        </div>
        <div class="hello">
            <span>提现发起时间：{{payinfo.start_time|date:"yyyy-MM-dd HH:mm"}}</span>
            <span>提现交易号：{{payinfo.id}}</span>
        </div>
        <div class="hello">
            <span *ngIf="payinfo.status==0">提现成功时间： {{payinfo.end_time|date:"yyyy-MM-dd HH:mm"}}</span>
            <span *ngIf="payinfo.status==2">提现成功时间： -</span>
            <span *ngIf="payinfo.status==1">提现失败时间： {{payinfo.end_time|date:"yyyy-MM-dd HH:mm"}}</span>
            <span>{{payinfo.channel}}账号：{{payinfo.payee_account}}</span>
        </div>
        <div class="hello"  *ngIf="payinfo.status!=1">
            <span></span>
            <span>支付宝真实姓名：{{payinfo.payee_name}}</span>
        </div>
        <div class="hello" *ngIf="payinfo.status==1">
            <span>提现失败原因：
                <ng-container [ngSwitch]="payinfo.reason">
                    <a *ngSwitchCase="10000">支付宝真实姓名与支付宝账号不一致</a>
                    <a *ngSwitchCase="10001">支付宝账号异常</a>
                    <a *ngSwitchDefault>系统异常</a>
                </ng-container>
            </span>
            <span>支付宝真实姓名：{{payinfo.payee_name}}</span>
        </div>
    </div>
</div>