<img src="/assets/image/review-mechanism/header.png" alt="" />
<section class="container">
	<h1>Peacha企划协议</h1>
	<p class="update_time">最新更新日期：2020年12月10日</p>
	<p>
		欢迎您使用Peacha企划功能。为使用Peacha企划功能，您应当阅读并遵守《Peacha企划协议》（以下简称：本协议），以及《Peacha.net用户使用协议》。
	</p>
	<h3>一、协议接受与修改</h3>
	<p>
		1、勾选本协议前选项框并点击“发布”或“应征企划”，将视为您签署了本协议，表明您自愿接受本协议全部条款的约束，本协议将构成您与杭州亿真网络科技有限公司及其经营的“Peacha.net“平台（以下统称Peacha.net，包括相关关联方）之间具有约束力的法律文件。
	</p>
	<p>2、用户直接或通过各类方式（如RSS源和站外API引用等）简介使用Peacha.net服务和数据的行为，都将被视作已无条件接受本协议全部内容。</p>
	<p>3、用户承诺不得以任何方式利用Peacha.net直接或间接从事违反中国法律以及社会公德的行为，Peacha.net有权对违反上述承诺的内容予以删除。</p>
	<p>
		4、签署的本协议所列明的条款，并不能完全涵盖您与Peacha.net之间的所有权利和义务。因此，Peacha.net不定期公布的其他声明、规则等均视为本协议之补充协议，与本协议具有同等的法律效力。
	</p>
	<p>
		5、Peacha.net是一个创作分享平台，用户通过Peacha.net发表的信息，其他第三方均可以通过Peacha.net获取用户发表的信息，用户对任何信息的发表即认可该信息为公开的信息，并单独对此行为承担法律责任；任何用户不愿被其他第三人获知的信息都不应该在Peacha.net上进行发表。
	</p>
	<p>6、用户不得利用Peacha.net服务制作、上传、复制、发布或者传播以下内容：</p>
	<p class="pstyle1">·反对宪法所确定的基本原则的；</p>
	<p class="pstyle1">·危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
	<p class="pstyle1">·损害国家荣誉和利益的；</p>
	<p class="pstyle1">·煽动民族仇恨、民族歧视、破坏民族团结的；</p>
	<p class="pstyle1">·侮辱、拉用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的；</p>
	<p class="pstyle1">·破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
	<p class="pstyle1">·散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
	<p class="pstyle1">·散步淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
	<p class="pstyle1">·侮辱或者诽谤他人，侵害他人合法权益的；</p>
	<p class="pstyle1">·以任何方式危害未成年人的；</p>
	<p class="pstyle1">·侵犯任何人的专利、商标、著作权、商业秘密等知识产权的；</p>
	<p class="pstyle1">·含有法律、行政法规禁止的其他内容的信息。</p>
	<p>
		7、Peacha.net有权提前向用户公告（包括但不限于弹出公告、网站首页公告、系统消息）以修改、替换、升级与Peacha.net服务相关的任何软件。如果用户不同意或者不接受Peacha.net相关软件的修改、替代、升级，请直接拒绝、停止、取消使用行为，否则视为用户同意并接受Peacha.net相关软件的修改、替代、升级，同时该同意并接受的行为仍受本协议约束。
	</p>
	<h3>二、术语含义</h3>
	<p>1、本平台：指Peacha.net网站。</p>
	<p>2、用户：指使用Peacha网站的用户</p>
	<p>3、企划方：指发布企划并支付企划全部费用的Peacha用户。</p>
	<p>4、画师/模型师：Peacha用户应征企划后最终被企划方选定的Peacha用户。</p>
	<p>5、稿酬：指企划方支付画师/模型师用于完成企划的费用。</p>
	<p>6、稿件：指画师/模型师根据企划方需求创作出的稿件作品。</p>
	<h3>三、协议范围</h3>

	<p>1、本协议是Peacha企划与Peacha.net之前关于使用Peacha企划功能所签订的协议。</p>
	<p>
		2、本协议被视为《Peacha.net用户使用协议》的补充协议，是其不可分割的组成部分，与其构成一个主题。本协议与上述内容存在冲突的，以本协议为准。
	</p>
	<h3>四、关于本功能</h3>
	<p>
		1、本功能是指企划方在平台上发布企划并说明需求，画师/模型师报名应征企划，企划方从中选定一位画师/模型师并根据企划需求完成企划，企划方需支付企划全部稿酬。
	</p>
	<p>
		2、画师/模型师需完成相对应的身份认证后才可应对应企划，无身份认证的用户无法应征企划。（画师需完成画师身份认证，模型师需完成模型师身份认证）。
	</p>
	<p>3、企划结束后，平台会将画师/模型师应得的稿酬存至账户内的桃币钱包，可随时进行提现。</p>
	<p>
		4、本平台在提供技术支持的过程中，将不可避免的产生渠道技术服务成本。你理解并同意，本平台从稿酬中扣除相应成本。伴随业务的发展或变动，服务费成本可能会变动。
	</p>
	<h3>五、企划双方的权利和义务</h3>
	<p>1、Peacha账号资质行为及行为承担</p>
	<p class="pstyle1">1.1你保证：你具备使用本功能所必需的民事能力，协议有效期内持续拥有使用本功能的合法资质，且有权签署本协议。</p>
	<p class="pstyle1">
		1.2你应当妥善保管Peacha账号的用户名及其密码，并对该账号下的一切操作行为负责。Peacha.net有理由认为该账号行为是你使用账号的行为，所产生的权利义务亦有你本人承担。
	</p>
	<p>2、企划方的权利</p>
	<p class="pstyle1">
		2.1企划方可在网站内发布企划，选择画师/模型师完成企划内容。可停止招募、中止、关闭企划。若企划超时完成，企划方可主动中止企划。
	</p>
	<p class="pstyle1">2.2对企划有疑问，有权利发起平台介入或联系客服处理。</p>
	<p class="pstyle1">2.3企划方可对本人发起并已完成企划的画师/模型师做出企划评价。</p>
	<p class="pstyle1">2.4阶段节点审核时，企划方可审核通过，也可驳回或退回修改此阶段节点。</p>
	<p class="pstyle1">2.5企划方可以同意或拒绝企划的增加稿酬。</p>
	<p class="pstyle1">2.6企划方可以发起协商中止企划，也可以同意或拒绝协商中止企划。</p>
	<p class="pstyle1">2.7企划方可以延长企划所需时间。</p>

	<p>3、企划方的义务</p>
	<p class="pstyle1">3.1企划方的行为应符合《Peacha用户使用协议》及相关协议、规则。</p>
	<p class="pstyle1">
		3.2企划方应及时审核阶段节点。不得出现以不正当手段拖延、拒绝审核、恶意驳回等行为，由此产生的后果应由企划方承担全部责任。
	</p>
	<p class="pstyle1">3.3对于退回修改，企划方应在企划整体需求内修改，不得进行大幅度修改。</p>
	<p class="pstyle1">
		3.4企划进行时，企划方应在网站内与画师/模型师沟通，不得通过其他途径联系画师/模型师，也不得透露联系方式至画师/模型师。
	</p>
	<p class="pstyle1">3.5企划方有义务严格保密画师/模型师的个人信息。</p>
	<p class="pstyle1">
		3.6企划方不得向画师/模型师提出额外需求，画师/模型师可拒绝企划方。若存在需求增加情况，则需与画师/模型师讨论，发起增加稿酬流程。
	</p>

	<p>4、画师/模型师的权利</p>
	<p class="pstyle1">4.1画师/模型师可在网站内应征符合其账号资质的企划，也可主动取消应征已应征的企划。</p>
	<p class="pstyle1">4.2对于企划方的恶意驳回，画师/模型师可联系客服或申请平台介入处理。</p>
	<p class="pstyle1">4.3企划方超时未审核企划，画师/模型师可发起超时中止企划，可获得当前阶段节点的稿酬比例。</p>
	<p class="pstyle1">4.4 画师/模型师可发起增加稿酬。</p>

	<p>5、画师/模型师的义务</p>
	<p class="pstyle1">5.1画师/模型师的行为应符合《Peacha用户使用协议》及相关协议、规则。</p>
	<p class="pstyle1">
		5.2
		画师/模型师应在规定时间内根据企划需求完成企划。不得出现随意创作、抄袭、剽窃、复制他人作品等情况。若出现此类情况，则企划方可立即中止企划，退回企划方全部稿酬。
	</p>
	<p class="pstyle1">5.3对于企划方发起的退回修改，应当根据退回理由修改。</p>
	<p class="pstyle1">5.4对于发起的增加稿酬，增加稿酬成功后应当根据增加稿酬内容创作。</p>
	<p class="pstyle1">
		5.5模型师应及时审核企划方提交的绑定源文件，不得出现以不正当手段拖延、拒绝审核、恶意驳回等行为，由此产生的后果一切由模型师承担。
	</p>
	<p class="pstyle1">5.6企划进行时，画师/模型师应在网站内与企划方沟通，不得通过其他途径联系企划方，也不得透露联系方式至企划方。</p>

	<p>6、企划方知识产权</p>
	<p class="pstyle1">
		6.1企划方有权在企划开始前要求签署知识产权转让协议，若画师/模型师拒绝签署，则企划方有权要求取消与该画师/模型师的此次合作并退还稿酬。
	</p>
	<p class="pstyle1">
		6.2企划完成后，即默认企划方拥有该稿件著作权中的全部财产权（或双方商定的其他知识产权），双方亦可根据情况自行协商签订知识产权转让协议。
	</p>
	<p class="pstyle1">
		6.3企划进行中，在未经画师/模型师允许的情况下，企划方不得在任何场合发表或使用该企划中提交审核的任何内容。因企划方私自发表或使用产生的一切纠纷，由企划方承担全部责任。
	</p>
	<p class="pstyle1">6.4企划中止情况下，企划方有权与画师/模型师协商，达成一致后，可以支付双方协商稿酬金额获得进度稿件的知识产权。</p>
	<p class="pstyle1">
		6.5企划进行中，如果发现画师/模型师提交的内容存在改编、剽窃、抄袭或其他侵犯第三方知识产权的内容，可以直接联系Peacha客服举报并提供有效凭证，经Peacha官方判定有效后有权获得相应的稿酬退还。若企划结束前，企划方没有进行举报，则视为企划方接受画师/模型师的全部稿件。交易流程结束后，企划方与画师/模型师就企划内容产生原创性纠纷，Peacha将不予受理。
	</p>

	<p>7、画师/模型师知识产权</p>
	<p class="pstyle1">7.1画师有权在企划开始前要求签署知识产权转让协议，若企划方拒绝签署，则画师有权要求取消与该企划方的此次合作。</p>
	<p class="pstyle1">
		7.2画师/模型师与企划方进行交易并获得稿酬后，即默认企划方拥有该稿件著作权中的全部财产权，包括但不限于复制权、发行权、改编权、展示权、摄制权、表演权、广播权、信息网络传播权等，其中画师/模型师与企划方另有约定的情况除外。
	</p>
	<p class="pstyle1">
		7.3画师/模型师有义务保证交易过程中交付的作品、及个人作品集中所有上传作品为原创内容，非改编、剽窃、抄袭或其他侵犯第三方知识产权方式所得；如为完成委托事项需要使用他人创作作品（或素材），应保证得到该作品（或素材）著作权人的合法授权。
	</p>
	<p class="pstyle1">
		7.4如因画师/模型师所交付或上传的作品存在权利瑕疵而造成法律纠纷，应由画师/模型师本人承担相应法律责任。如果因此而给企划方或其他第三方造成经济或名誉上损失的，亦应由画师/模型师进行赔偿，赔偿范围包括但不限于赔偿金、诉讼费、仲裁费、律师费等。
	</p>
	<p class="pstyle1">
		7.5画师/模型师有义务保证从企划方处获得资料或源文件仅于本次工作期间使用，不得用于商业赢利等其他目的，不以任何方式篡改资料，不得将资料泄露给第三方，由此引起的一切后果由画师/模型师承担。
	</p>
	<p class="pstyle1">
		7.6企划进行中时，画师/模型师不得泄露任何阶段的稿件作品。如与企划方有事先约定，则需按照约定发布。若因此造成的损失或影响，应由画师/模型师承担。
	</p>
	<p class="pstyle1">
		7.7画师/模型师有义务保证在行使该企划稿件著作权中人身权（包括署名权、发表权、修改权、保护作品完整权）之前，与企划方进行事前协商，遵守企划方关于画师/模型师权利行使的相关要求。
	</p>
	<p class="pstyle1">
		7.8交易完成后，如后续因企划方不当使用画师/模型师稿件（如将原作品修改、再创意等使用不当并对画师/模型师或第三方产生侵害的情况）所产生的一切纠纷，画师/模型师有权自行向该企划方发起诉讼。但已脱离网站责任范畴，网站不为此承担任何连带责任，亦无义务为画师/模型师进行后续诉讼及追责。
	</p>

	<h3>六、Peacha.net对本协议、本协议指定的各项规则以及该协议下的补充协议拥有最终解释权</h3>
</section>
