<div class="container">
	<div>
		<span class="title">商务合作</span>
		<div class="content">
			<span>
				<p><a href="/aboutus">关于我们</a></p>
			</span>
		</div>
	</div>
	<div>
		<span class="title">软件下载</span>
		<div class="content">
			<span><a href="https://store.steampowered.com/app/1279610/PrprLive/">PrprLive面部捕捉软件</a></span>
		</div>
	</div>
	<div>
		<span class="title">反馈</span>
		<div class="content">
			<div>
				<span><a href="/useragreement">用户协议</a></span>
				<span><a href="/userprivacypolicy">隐私政策</a></span>
				<span><a href="/reviewMechanism">维权举报</a></span>
				<span><a href="/message/customer-service">联系客服</a></span>
			</div>
			<!-- <div>
                <span><a href="/message/customer-service">联系客服</a></span>
            </div> -->
		</div>
	</div>
</div>
<div class="other">
	<div class="license">
		<div>
			<span>
				<p>网络文化经营许可证 浙网文（2019）5145-224号</p>
			</span>
		</div>
		<div>
			<span>
				<a href="https://beian.miit.gov.cn"> 浙ICP备19024709号-5 </a>
			</span>
			<span>
				<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010902002628">
					<img src="/assets/image/svg/national-emblem.svg" width="15px" height="17px" />
					浙公网安备 33010902002628号
				</a>
			</span>
			<span>
				<p>公司名称：杭州亿真网络科技有限公司</p>
			</span>
			<span>
				<p>电话：0571-82153627</p>
			</span>
		</div>

		<div>
			<span>
				<a href="https://tsm.miit.gov.cn/dxxzsp/"> ICP证:浙B2-20201310 </a>
			</span>
			<span>
				<a href="https://www.12377.cn/">
					<img src="/assets/image/footer/01.png" width="18px" height="16px" />
					中央网信办违法和不良信息举报中心
				</a>
			</span>
			<span>
				<p>公司地址：浙江省杭州市萧山区启迪路198号</p>
			</span>
		</div>
	</div>
	<div class="company">
		<img src="/assets/image/svg/company-logo.svg" />
		<p>© 2019-2021 I-Reality Network Technology Co.,Ltd. All Rights Reserved.</p>
	</div>
</div>
