<ivo-commission-top-nav [isShowDetail]="true" [isShowRight]="true"></ivo-commission-top-nav>
<div class="box" ivoStepper #step="steps">
	<div class="type" *ivoStep="'list'">
		<li class="title">
			<span [ngSwitch]="identity">
				<ng-container *ngSwitchCase="1"> 支付/退款记录 </ng-container>
				<ng-container *ngSwitchCase="2"> 收入记录 </ng-container>
			</span>
		</li>

		<ng-container *ngIf="identity===1">
			<div class="item" *ngFor="let item of payList">
				<span class="one">
					<span class="name">类型</span>
					<span>
						<ng-container [ngSwitch]="item.goods.category.id">
							<ng-container *ngSwitchCase="21"> 支付保证金 </ng-container>
							<ng-container *ngSwitchCase="22"> 企划退款 </ng-container>
							<ng-container *ngSwitchCase="23"> 支付增加的稿酬 </ng-container>
						</ng-container>
					</span>
				</span>
				<span class="one">
					<span class="name" [ngSwitch]="item.goods.category.id">
						<ng-container *ngSwitchCase="22">退款金额</ng-container>
						<ng-container *ngSwitchDefault>支付金额</ng-container>
					</span>
					<span>￥{{item.amount}}</span>
				</span>
				<!-- <span class="one" *ngIf="item.goods.category.id==22">
					<span class="name">退款稿酬比例</span>
					<span>{{((item.amount/commissionFinalprice)*100).toFixed(0)}}%</span>
				</span> -->
				<span class="one" *ngIf="item.discountAmount>0 && identity===1">
					<span class="name">已优惠金额</span>
					<span>￥{{item.discountAmount}}</span>
				</span>
				<span class="one">
					<span class="name" [ngSwitch]="item.goods.category.id">
						<ng-container *ngSwitchCase="20">收入时间</ng-container>
						<ng-container *ngSwitchCase="22">退款时间</ng-container>
						<ng-container *ngSwitchDefault>支付时间</ng-container>
					</span>
					<span>{{item.completeTime|date:'yyyy-MM-dd HH:mm'}}</span>
				</span>
				<span class="one">
					<span class="name">订单号</span>
					<span>{{item.id}}</span>
				</span>
				<span class="one" *ngIf="item.goods.category.id!=22">
					<span class="name">交易号</span>
					<span>{{item.payId}}</span>
				</span>
				<ng-container *ngIf="item.goods.category.id==22">
					<span class="one">
						<span class="name">退款渠道</span>
						<span>{{item.channel}}</span>
					</span>
					<span class="one">
						<span class="name">退款详情</span>
						<a (click)="step.goto('refund')">查看详情</a>
					</span>
				</ng-container>
			</div>
		</ng-container>

		<ng-container *ngIf="identity===2">
			<div class="income" *ngFor="let item of payList">
				<li>
					<span class="line">
						<span class="name">收入金额:</span>&nbsp;&nbsp;
						<span>￥{{item.amount}}</span>
					</span>
					<span class="line">
						<span class="name">收入订单号:</span>&nbsp;&nbsp;
						<span>{{item.id}}</span>
					</span>
				</li>
				<li>
					<span class="line">
						<span class="name">收入渠道:</span>&nbsp;&nbsp;
						<span>{{item.channel}}</span>
					</span>
					<span class="line">
						<span class="name">收入时间:</span>&nbsp;&nbsp;
						<span>{{item.completeTime|date:'yyyy-MM-dd HH:mm'}}</span>
					</span>
				</li>
				<div class="cut"></div>
				<li>
					<span class="line"> 预计稿酬： </span>
					<span class="line">
						<span>￥{{commissionFinalprice}}</span>
					</span>
				</li>
				<ng-container *ngFor="let d of detailList">
					<li *ngIf="d.expectRate!=0">
						<span class="line" [ngSwitch]="d?.rateType">
							<ng-container *ngSwitchCase="0">
								服务费
								<ng-container *ngIf="detailList[0]?.rateType===0"> (预计稿酬{{d.expectRate*100}}%)： </ng-container>
								<ng-container *ngIf="detailList[0]?.rateType===1"> (超时稿酬{{d.expectRate*100}}%)： </ng-container>
								<ng-container *ngIf="detailList[0]?.rateType===2"> (中止稿酬{{d.expectRate*100}}%)： </ng-container>
							</ng-container>
							<ng-container *ngSwitchCase="1"> 超时扣除稿酬(预计稿酬{{d.expectRate*100}}%)： </ng-container>
							<ng-container *ngSwitchCase="2"> 中止扣除稿酬(预计稿酬{{d.expectRate*100}}%)： </ng-container>
						</span>
						<span class="line">
							<span>-￥{{d.amount}}</span>
						</span>
					</li>
				</ng-container>
				<li class="special">
					<span>最终收入金额：</span>
					<span>￥{{item.amount}}</span>
				</li>
			</div>
		</ng-container>
	</div>

	<div class="type" *ivoStep="'refund'">
		<li class="title">
			<span> 退款详情 </span>
			<a (click)="step.goto('list')"><img src="/assets/image/commission/goback.svg" />返回</a>
		</li>
		<div class="income" *ngFor="let item of refundList">
			<li>
				<span class="line">
					<span class="name">退款金额：</span>
					<span>￥{{item.amount}}</span>
				</span>
				<span class="line">
					<span class="name">退款订单号：</span>
					<span>{{item.id}}</span>
				</span>
			</li>
			<li>
				<span class="line">
					<span class="name">退款渠道：</span>
					<span>{{item.channel}}</span>
				</span>
				<span class="line">
					<span class="name">退款时间：</span>
					<span>{{item.completeTime|date:'yyyy-MM-dd HH:mm'}}</span>
				</span>
			</li>
			<div class="cut"></div>
			<li>
				<span class="line"> 实际支付稿酬： </span>
				<span class="line">
					<span>￥{{actualPayment}}</span>
				</span>
			</li>
			<ng-container *ngFor="let d of detailList">
				<li>
					<span class="line" [ngSwitch]="d?.rateType">
						<ng-container *ngSwitchCase="1">
							画师超时{{stopTime}}天所需支付稿酬(实际支付稿酬{{100-d.expectRate*100}}%)：
						</ng-container>
						<ng-container *ngSwitchCase="2"> 中止企划所需支付稿酬(实际支付稿酬{{100-d.expectRate*100}}%)： </ng-container>
					</span>
					<span class="line">
						<span>-￥{{(actualPayment * (1-d.expectRate)).toFixed(2)}}</span>
					</span>
				</li>
			</ng-container>
			<li class="special">
				<span>最终退款金额：</span>
				<span>￥{{item.amount}}</span>
			</li>
		</div>
	</div>

	<ivo-lack-image *ngIf="payList?.length===0"></ivo-lack-image>
</div>
