<h1>Peacha.net用户使用协议</h1>
<p class="update_time">最新更新日期 2020.10.19</p>
<p>欢迎您使用Peacha.net</p>
<p>本协议是用户（下称“用户”或“您”）与Peacha.net之间的协议，
    Peacha.net将按照本协议约定之内容为您提供服务，
    请您仔细阅读以下条款并确认您已完全理解本协议之规定，
    Peacha.net有权对用户使用Peacha.net的情况进行审查和监督，
    如用户在使用Peacha.net时违反下列规定，
    Peacha.net或其授权人有权要求用户改正或直接采取一切必要措施（包括但不限于更改或删除用户发布的不当内容、暂停或终止用户使用Peacha.net的权利）以减轻用户不当行为造成的影响。
    若您对本协议任何条款有异议，请停止注册或使用Peacha.net（包括手机、电脑等移动设备客户端，下同）所提供的全部服务。</p>
<h3>一、协议接受与修改</h3>
<p>1、勾选本协议前选项框并点击“注册”，将视为您签署了本协议，表明您自愿接受本协议全部条款的约束，本协议将构成您与杭州亿真网络科技有限公司及其经营的“Peacha.net“平台（以下统称Peacha.net，包括相关关联方）之间具有约束力的法律文件。
</p>
<p>2、用户直接或通过各类方式（如RSS源和站外API引用等）简介使用Peacha.net服务和数据的行为，都将被视作已无条件接受本协议全部内容。</p>
<p>3、用户承诺不得以任何方式利用Peacha.net直接或间接从事违反中国法律以及社会公德的行为，Peacha.net有权对违反上述承诺的内容予以删除。</p>
<p>4、签署的本协议所列明的条款，并不能完全涵盖您与Peacha.net之间的所有权利和义务。因此，Peacha.net不定期公布的其他声明、规则等均视为本协议之补充协议，与本协议具有同等的法律效力。
</p>
<p>5、Peacha.net是一个创作分享平台，用户通过Peacha.net发表的信息，其他第三方均可以通过Peacha.net获取用户发表的信息，用户对任何信息的发表即认可该信息为公开的信息，并单独对此行为承担法律责任；任何用户不愿被其他第三人获知的信息都不应该在Peacha.net上进行发表。
</p>
<p>6、用户不得利用Peacha.net服务制作、上传、复制、发布或者传播以下内容：</p>
<p class="pstyle1">·反对宪法所确定的基本原则的；</p>
<p class="pstyle1">·危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
<p class="pstyle1"> ·损害国家荣誉和利益的；</p>
<p class="pstyle1">·煽动民族仇恨、民族歧视、破坏民族团结的；</p>
<p class="pstyle1">·侮辱、拉用英烈形象，否定英烈事迹，美化粉饰侵略战争行为的；</p>
<p class="pstyle1">·破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
<p class="pstyle1">·散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
<p class="pstyle1"> ·散步淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
<p class="pstyle1"> ·侮辱或者诽谤他人，侵害他人合法权益的；</p>
<p class="pstyle1">·以任何方式危害未成年人的；
<p class="pstyle1">·侵犯任何人的专利、商标、著作权、商业秘密等知识产权的；</p>
<p class="pstyle1"> ·含有法律、行政法规禁止的其他内容的信息；</p>

<p> 7、 Peacha.net有权提前向用户公告（包括但不限于弹出公告、网站首页公告、系统消息）以修改、替换、升级与Peacha.net服务相关的任何软件。如果用户不同意或者不接受Peacha.net相关软件的修改、替代、升级，请直接拒绝、停止、取消使用行为，否则视为用户同意并接受Peacha.net相关软件的修改、替代、升级，同时该同意并接受的行为仍受本协议约束。
</p>
<p>8、若本协议与Peacha.net其他协议条款不一致，以其他协议条款内容为准。
</p>

<h3>二、账号的获取与使用</h3>

<p>1、用户注册成功后，Peacha.net将给予每个用户一个用户账号及相应的密码，该用户账号和密码由用户负责保管；用户应当对以其用户账号进行的所有活动和时间负法律责任。
</p>
<p>2、用户须对在Peacha.net的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册账号导致其他用户误认；用户名和昵称中不能含有任何侮辱、诽谤、淫秽或暴力等侵害他人合法权益或违反公序良俗的词语。如您违反上述规定，Peacha.net有权限制、拒绝您使用使用账号，由此产生的一切法律责任将由您独自承担。
</p>
<p> 3、请您妥善保管您注册时填写的用户账号和密码，不要将账号密码告知他人，非因Peacha.net原因导致账号或者密码泄露而造成的法律后果由用户负责。
</p>
<p> 4、若您的账号或者密码遗失，可以通过注册信息按照相关步骤找回密码，若您发现账号遭到未授权的使用或存在其他安全漏洞的情况，应立即告知Peacha.net。
</p>
<p>5、用户在Peacha.net注册账号设置用户名时请注意以下几点：</p>
<p class="pstyle1">·请勿以党和国家领导人或其他名人的真实姓名、字、号、艺名、笔名、头衔等注册和使用昵称（如确为本人，需提交相关证据并通过审核方可使用）；</p>
<p class="pstyle1">·请勿以国家组织机构或其他组织机构的名称等注册和使用昵称（如确为该机构，需要提交相关证据并通过审核方可允许使用）；</p>
<p class="pstyle1">·请勿以国家组织机构或其他组织机构的名称等注册和使用昵称（如确为该机构，需要提交相关证据并通过审核方可允许使用）；
<p class="pstyle1">·请勿注册和使用与其他网友相同、相仿的用户名或昵称；</p>
<p class="pstyle1">·请勿以国家组织机构或其他组织机构的名称等注册和使用昵称（如确为该机构，需要提交相关证据并通过审核方可允许使用）；</p>
<p class="pstyle1">·请勿注册和使用不文明、不健康的用户名或昵称；</p>
<p class="pstyle1">·请勿注册和使用容易产生歧义、引起他人误解或带有各种奇形怪状符号的用户名或昵称；</p>
<p class="pstyle1">·用户以虚假信息骗取账号名称注册，或账号头像、简介等注册信息存在违法和不良信息的，Peacha.net有权暂停或注销用户的账号。</p>

<p>6、您不得以任何形式擅自转让或授权他人使用自己在Peacha.net上的用户账号。若用户违反规则，一经发现，Peacha.net有权暂停或注销您的账号，并且由此产生的一切法律责任与损失将由您独自承担。</p>
<h3>三、Peacha.net服务内容</h3>
<p>1、Peacha.net是一个信息分享及传播平台。Peacha.net对用户提供的服务包括但不仅限于图片、Live2D模型、修改、评论、点赞、分享、收藏、交易；发起企划、提供约稿；提供企划增值服务；参加线上或线下活动；付费内容服务；电子商务服务等。Peacha.net有权对提供的服务内容进行增减和调整。除非本协议另有其他明示规定，Peacha.net增加或强化目前本任务的任何新功能均受本使用协议之规范。
</p>
<p>2、您在使用Peacha.net服务过程中，不得以任何方式利用Peacha.net简介或直接从事违反中国法律、以及社会公德的行为，应遵守不同地区、不同地域的道德和风俗习惯，并且应避免因使用Peacha.net服务而使Peacha.net卷入政治和公共事件。
</p>
<p>3、Peacha.net有权对用户使用Peacha.net的情况进行审查和监督，如用户在使用Peacha.net的过程中违反任何本协议之规定，Peacha或其授权人有权要求用户改正或直接采取一切必要手段（包括但不仅限于更改、删除用户发布的内容，暂停或终止用户使用Peacha.net的权利）以减轻用户不当行为对本平台造成的影响。
</p>
<p>4、用户在违反本协议之规定造成严重后果的，Peacha.net在暂停或终止对您提供服务，解除双方间服务协议和法律关系外，对您账号中的财产也有管理的权利，视为您支付的违约金，如不足以弥补Peacha.net的损失，Peacha.net还可以通过其他法律途径向您追索。
</p>
<p>5、用户分类及对应权限</p>

<div class="qtable">
    <div>
        <div></div>
        <div>
            <p>等级分类</p>
        </div>
        <div>
            <p>注册状态</p>
        </div>
        <div>
            <p>实名状态</p>
        </div>
        <div>
            <p>权限范围</p>
        </div>
    </div>
    <div>
        <div>
            <p>1</p>
        </div>
        <div>
            <p>游客</p>
        </div>
        <div>
            <p>未注册</p>
        </div>
        <div>
            <p>-</p>
        </div>
        <div>
            <p>仅可浏览，不能发布作品、收藏点赞，不可进行购买商品、出售商品、充值提现等行为</p>
        </div>
    </div>
    <div>
        <div>
            <p>2</p>
        </div>
        <div>
            <p>注册用户（未实名）</p>
        </div>
        <div>
            <p>注册</p>
        </div>
        <div>
            <p>未实名</p>
        </div>
        <div>
            <p>可进行浏览作品、发布作品、收藏点赞、充值、购买商品以及使用平台内其他增值服务等行为，不可进行出售商品、提现等行为</p>
        </div>
    </div>
    <div>
        <div>
            <p>3</p>
        </div>
        <div>
            <p>注册用户（实名认证）</p>
        </div>
        <div>
            <p>注册</p>
        </div>
        <div>
            <p>实名认证</p>
        </div>
        <div>
            <p>可进行浏览作品、发布作品、留言评论、充值、提现、购买商品、出售商品、使用平台内其他增值服务等行为</p>
        </div>
    </div>
</div>
<h3>四、服务的变更、中断、终止</h3>
<p>1、您理解并同意，Peacha.net基于经营策略的调整，可能会对服务内容进行变更，也可能会中断、中止或终止服务。</p>
<p>2、您理解并同意，如Peacha.net发生合并、分立、收购、资产转让时，Peacha.net可向第三方转让本服务下相关资产；Peacha.net亦可在单方通知您后，将本协议下部分或全部服务及相应的权利义务转交由第三方运营或履行。
</p>
<p>3、您理解并同意，如您违反相关法律法规的规定、违反本协议及其他Peacha.net约定，Peacha.net有权不经通知而单方中断或终止向您提供服务。</p>
<p>4、Peacha.net终止向您提供服务后，有权根据适用法律的要求删除您的个人信息，或使其匿名化处理，亦有权依照法律规定的期限和方式继续保存您留存于我方平台的其他内容和信息。</p>
<h3>五、个人隐私</h3>
<p>保护用户个人信息及个人隐私是Peacha.net的基本原则，Peacha.net将通过技术手段、强化内部管理等办法充分保护用户的个人信息，除法律或有法律赋予权限的政府部门要求或事先得到用户明确授权等原因外，Peacha.net保证不对外公开或向第三方透露用户个人隐私信息与用户在使用服务时存储的非公开内容。
</p>
<p>为提供更加优质的服务，Peacha.net可能会收集、存储和使用您的非个人隐私信息，如果您不提供相关信息，可能无法注册成为我们的用户或在使用Peacha.net服务过程中收到限制。</p>
<p>您使用或继续使用我们的服务，即意味着统一我们按照《Peacha用户隐私政策》收集、使用、存储和分享您的相关信息，详情请查看《Peacha用户隐私政策》</p>
<h3>六、作品发布</h3>
<p>1、您在Peacha.net上发布的作品包括但不仅限于您传播、发布或上传的图片、Live2D模型文件、视频、音频、文字、链接等。</p>
<p>2、您在Peacha.net上传或发布的作品，您保证对其享有合法的著作权或相应授权，Peacha.net有权展示、散布及推广您的作品。</p>
<p>3、Peacha.net有权但无义务对用户发布的内容进行审核，有权根据相关证据结合《侵权责任法》、《信息网络传播权保护条例》等法律法规及Peacha.net指导原则对侵权信息进行处理。</p>
<p>4、用户不得以不正当手段（包括但不限于购买点赞收藏，虚假刷单等行为）提高自己作品的热度，一经发现Peacha.net有权暂停或注销您的账号。</p>
<p>5、Peacha.net仅能在一定程度上提供对您的著作权保护，为了保障您的权益，避免您遭受不必要的损失，请您在上传作品前预先进行防侵权措施（包括但不限于申请美术作品版权、添加水印、添加签名、降低清晰度等方式），因侵权产生的一切的法律纠纷与经济损失都将由您独自承担。
</p>
<p>6、未经著原作者同意，用户不得将作品及其衍生作品（包括但不限于图片、文字、视频、Live2D、3D模型等作品）上传至Peacha.net用户转载传播（包括但不限于复制、修改、印刷或公开展示）</p>
<p>7、请注意，在进行免费分享时，您所上传的所有文件将对Peacha.net的全部注册用户开放无条件下载，请您确认后再进行免费分享，由此产生的经济损失与法律责任都将由用户自行承担。</p>
<p>8、您须对保证对作品拥有完整著作权才可以发布包含免费下载内容（包括但不限于立绘、Live2D模型及其对应的动作文件等），若由此产生纠纷，则对应的法律责任将完全由用户承担。</p>
<h3>七、交易相关</h3>
<p>1、用户在Peacha.net上出售的商品包括但不限于用户选择售卖的Live2D模型文件、商品附件（包括但不限于图片、Live2D模型文件、视频、音频、文字、链接等）等。</p>
<p>2、您在Peacha.net上出售的商品及商品的附件，您保证在商品及商品的附件售出前没有任何第三方拥有其使用权、著作权或其他授权。若因此类原因产生法律纠纷，所产生的一切损失和后果将全部由发布用户自己承担。</p>
<p>3、为了使Peacha.net更好发展，为用户提供更优质的服务，Peacha.net会在每笔交易的金额中收取10%的服务费。</p>
<p>4、在交易完成时，用户有向Peacha.net索取服务费发票的权利，但因此产生的费用需要用户自行承担（根据开票时的税点收费）。</p>
<p>5、出售方的权利和义务</p>
<p class="pstyle1">
    ·出售方有义务保证交易过程中交付的作品、及个人作品集中所有上传作品为原创内容，非改编、剽窃、抄袭或其他侵犯第三方知识产权方式所得；如商品中包含他人创作作品（或素材），应保证得到该作品（或素材）著作权人的合法授权。</p>
<p class="pstyle1">
    ·如因出售方所交付或上传的作品存在权利瑕疵而造成法律纠纷，应由出售方本人承担相应法律责任。如果因此而给购买方方或其他第三方造成经济或名誉上损失的，亦应由出售方进行赔偿，赔偿范围包括但不限于赔偿金、诉讼费、仲裁费、律师费等。</p>
<p class="pstyle1">·出售方应保证单次出售的商品在售出前没有授权给任何其他的第三方，如果因此而给购买方方或其他第三方造成经济或名誉上损失的，亦应由出售方进行赔偿，赔偿范围包括但不限于赔偿金、诉讼费、仲裁费、律师费等。
</p>
<p class="pstyle1">·出售方有义务保证商品在出售前，出售方拥有商品的完整著作权（包括但不仅限于署名权、发表权、修改权、保护作品完整权等）</p>
<p class="pstyle1">·多次出售商品在售出后，若出售方与购买方无特殊约定，默认购买方拥有商品的部分财产权，包括展示权、表演权、广播权、信息网络传播权。</p>
<p class="pstyle1">·单次出售商品在售出后，若出售方与购买方无特殊约定，默认购买方拥有商品的全部财产权，包括但不限于复制权、发行权、改编权、展示权、摄制权、表演权、广播权、信息网络传播权等。</p>
<p class="pstyle1">
    ·如果购买方在购买后不当使用出售方所出售的商品（比如未经许可修改作品、未经许可进行二次创作、再次出售等使用不当并对出售方或第三方产生侵害的情况）产生纠纷，出售方有权向购买方提起诉讼，但Peacha.net不为此承担连带责任，亦无义务为出售方进行后续诉讼及追责。
</p>
<p>6、购买方的权利和义务</p>
<p class="pstyle1">·购买方购买多次出售商品后，若出售方与购买方无特殊约定，默认购买方拥有商品的部分财产权，包括展示权、表演权、广播权、信息网络传播权。</p>
<p class="pstyle1">·购买方购买单次出售商品后，若出售方与购买方无特殊约定，默认购买方拥有商品的全部财产权，包括但不限于复制权、发行权、改编权、展示权、摄制权、表演权、广播权、信息网络传播权等。</p>
<p class="pstyle1">
    ·购买方在使用交易完成后，发现商品内容为改编、剽窃、抄袭或其他侵犯第三方知识产权方式所得，或存在为取得授权使用他人创作作品（或素材），购买方有权向出售方提起诉讼，但Peacha.net不为此承担连带责任，亦无义务为购买方进行后续诉讼及追责。
</p>
<p class="pstyle1">7、除Peacha.net另有规定外，用户应当自行承担因交易产生的相关费用，并依法纳税。</p>
<h3>八、侵权举报</h3>
<p>1、Peacha.net受理平台内的侵犯企业或个人合法权益的侵权举报，包括但不限于涉及个人隐私、造谣与诽谤、商业侵权。</p>
<p>2、如果个人或单位发现Peacha.net上存在侵犯自身合法权益的内容，请进行举报与举证或联系Peahca.net在线客服。为了保证问题能够及时有效地处理，请务必提交真实有效、完整清晰的材料，否则不予受理。</p>
<h3>九、知识产权声明</h3>
<p>1、受国际版权公约、中华人民共和国著作权法、专利法、及其他知识产权方面的法律法规保护，Peacha.net提供的服务及服务所使用的软件、技术、商标、材料包括但不限于图片、文字、资料、网站构架、网页设计等所有的知识产权归Peacha.net所有和享有。未经Peacha.net或权利人明示授权，用户不得修改、出租、出借、散步本平台所使用的上述任何材料和资源，或根据上述资料或资源制作产品。
<p>2、用户不得通过反向工程、反编译、反汇编或其他类似行为获得Peacha.net源代码或源文件，否则由此引起的一切法律后果由用户附则，Peacha.net将依法追究违约方的法律责任。</p>
<p>3、用户不得恶意修改、复制、传播Peacha.net所使用的软件、技术、材料等，若用户对其他人或Peacha.net的权利造成损害，须承担相应的法律责任。</p>
<p>4、Peacha.net所有的和享有的知识产权，不因用户的任何行为而发生权利转移。</p>
<h3>十、免责声明</h3>
<p>1、Peacha.net对于任何包含、经由或者连接、下载或从任何有关本平台所获得的任何内容、信息或广告，不声明或保证其正确性或可靠性；并且对于用户经由本平台伤的广告、展示而购买、取得的任何产品、信息或资料，Peacha.net不负保证责任，用户自行负担使用本平台的风险。
</p>
<p>2、用户使用经由Peacha.net下载或取得的任何资料，其风险由用户自行承担，因使用而导致用户电脑系统损坏或资料流失，用户应自行承担所有责任。
</p>
<p>3、Peacha.net不做任何与Peacha.net平台、产品的安全性、可靠性、及时性和性能有关的担保。
</p>
<p>4、基于以下原因造成的利润、商业信誉、资料损失或其他任何损失，Peacha.net不承担任何直接、简介、附带、衍生或惩罚性赔偿：</p>
<p class="pstyle1">·Peacha.net全部或部分无法使用；</p>
<p class="pstyle1">·经由Peacha.net购买或取得的任何产品、资料或服务；</p>
<p class="pstyle1">·用户资料遭未授权的使用或修改；</p>
<p class="pstyle1">·其他与Peacha.net的相关事宜。</p>
<p>5、除非另有明确的书面说明，Peacha.net提供给您的全部产品和服务，均是“按现状”和“按现有”的基础上服务的。</p>
<h3>十一、未成年人条款</h3>
<p>1、Peacha.net非常注重未成年人的保护。若您为未成年人，请在监护人监护、指导下阅读本协议，并在取得监护人的同意后使用Peacha.net的产品和服务。</p>
<p>2、监护人应指导自律上网应该注意的安全问题，防患于未然。Peacha.net禁止未成年人使用Peacha.net的产品和服务进行任何消费行为，若用户通过虚假认证信息通过实名认证进行消费，Peacha.net对其不负任何法律责任。
</p>
<p>3、对于未成年人的隐私保护，Peacha.net将严格按照《Peacha.net用户隐私政策》中阐述的方式、方法进行。
</p>
<h3>十二、法律适用和管辖</h3>
<p>1、本协议的生效、履行、解释及争议的解决均适用中华人民共和国法律。本条款因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力。双方同意，解决争议时，应以您同意的最新版《Peacha.net用户使用协议》为准。
</p>
<p>2、如就本协议内容或其执行发生任何争议，应尽量友好协商解决；协商不成时，则争议各方均一致同意将争议提交广州仲裁委员会按照其仲裁规则进行仲裁。仲裁裁决为一裁终局，对各方均有法律约束力。
</p>
<h3>十三、不可抗力</h3>
<p>因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本合同所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。
</p>
<h3>十四、Peacha.net对本协议、本协议指定的各项规则以及该协议下的补充协议拥有最终解释权。</h3>
