<div class="main" *ngrxLet="user$; let user">
    <div class="index">安全设置</div>
    <div class="min">账户密码
        <div class="des">
            <span>已设置</span><span class="spe" [routerLink]="['/passport/forget_password']"
                [queryParams]="{type:0}">修改密码</span>
        </div>
    </div>
    <div class="min">绑定手机
        <div *ngIf="user.phone;else nop" class="des">
            <span>{{user.phone}}</span><span class="spe" (click)="changePhone(user.email)">更换手机</span>
        </div>
        <ng-template #nop>
            <div class="des">
                <span class="spe" routerLink="/passport/bind_phone">未绑定</span><span class="spe"
                    routerLink="/passport/bind_phone">绑定手机</span>
            </div>
        </ng-template>
    </div>
    <div class="min">绑定邮箱
        <div *ngIf="user.email;else noe" class="des">
            <span>{{user.email}}</span><span class="spe" (click)="changeEmail(user.phone)">更换邮箱</span>
        </div>
        <ng-template #noe>
            <div class="des">
                <span class="spe" routerLink="/passport/bind_email">未绑定</span><span class="spe"
                    routerLink="/passport/bind_email">绑定邮箱</span>
            </div>
        </ng-template>
    </div>
    <div class="ide">认证</div>
    <ng-container *ngrxLet="identity_state$;let identity_state">
        <div class="min" [ngSwitch]="identity_state">实名认证
            <div class="des">
                <span class="des" *ngSwitchCase="0">暂未认证</span>
                <span class="des" *ngSwitchCase="1">等待审核中</span>
                <span class="des" *ngSwitchCase="2">已认证</span>
                <span class="des" *ngSwitchCase="3">审核失败</span>
                <span class="des" *ngSwitchCase="4">暂未认证 </span>
                <ng-container [ngSwitch]="user.identity_state">
                    <span class="spe" *ngSwitchCase="0" [routerLink]="['/passport/authenticate']">去认证</span>
                    <span class="spe" *ngSwitchCase="1" [routerLink]="['/passport/authenticate/wait']">查看详情</span>
                    <span class="spe" *ngSwitchCase="2" [routerLink]="['/passport/authenticate/success']">查看详情</span>
                    <span class="spe" *ngSwitchCase="3" [routerLink]="['/passport/authenticate/fail']">查看详情</span>
                    <span class="spe" *ngSwitchCase="4" [routerLink]="['/passport/authenticate']">去认证</span>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <div class="ide">创作者认证</div>
    <ng-container>
        <div class="min">画师认证
            <div class="des">
                <ng-container *ngrxLet="artistRoleState$;let artistRoleState;"
                    [ngSwitch]="(artistRoleState$ | async)?.state">
                    <!-- 等待 -->
                    <ng-container *ngSwitchCase="0">
                        <span class="des">等待审核中</span>
                        <span class="spe" [routerLink]="['/createrCertification/review']">查看详情</span>
                    </ng-container>
                    <!-- 通过 -->
                    <ng-container *ngSwitchCase="1">
                        <span class="des">已认证</span>
                        <span class="spe" [routerLink]="['/createrCertification/painterreviewsuccess']">查看详情</span>
                    </ng-container>
                    <!-- 拒绝 -->
                    <ng-container *ngSwitchCase="2">
                        <span class="des">审核失败</span>
                        <span class="spe" [routerLink]="['/createrCertification/painterreviewfail']"
                            [queryParams]='{reason : artistRoleState.description}'>查看详情</span>
                    </ng-container>
                    <!-- 不存在 -->
                    <ng-container *ngSwitchCase="4">
                        <span class="des">暂未认证</span>
                        <span class="spe" [routerLink]="['/createrCertification/11002']">去认证</span>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="min">模型师认证
            <div class="des">
                <ng-container [ngSwitch]="(modelerRoleState$ | async)?.state"
                    *ngrxLet="modelerRoleState$;let modelerRoleState;">
                    <!-- 等待 -->
                    <ng-container *ngSwitchCase="0">
                        <span class="des">等待审核中</span>
                        <span class="spe" [routerLink]="['/createrCertification/review']">查看详情</span>
                    </ng-container>
                    <!-- 通过 -->
                    <ng-container *ngSwitchCase="1">
                        <span class="des">已认证</span>
                        <span class="spe" [routerLink]="['/createrCertification/modelerreviewsuccess']">查看详情</span>
                    </ng-container>
                    <!-- 拒绝 -->
                    <ng-container *ngSwitchCase="2">
                        <span class="des">审核失败</span>
                        <span class="spe" [routerLink]="['/createrCertification/modelerreviewfail']"
                            [queryParams]="{reason:modelerRoleState.description}">查看详情</span>
                    </ng-container>
                    <!-- 不存在 -->
                    <ng-container *ngSwitchCase="4">
                        <span class="des">暂未认证</span>
                        <span class="spe" [routerLink]="['/createrCertification/11001']">去认证</span>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>
