<div class="main">
    <div class="index">
        账单详情
        <span class="return" (click)="goBack()">&lt;返回列表</span>
    </div>
    <ng-container *ngrxLet="payinfo$;let payinfo">
      <div class="detail">
          <li>充值金额：<a>¥{{payinfo.amount| number:'1.2-2'}}</a></li>
          <li class="flex">
              <span>充值交易号：{{payinfo.id}}</span>
              <span>支付方式：{{payinfo.channel}}</span>
          </li>
          <li class="time">充值时间：{{payinfo.start_time|date:"yyyy-MM-dd HH:mm"}}</li>
      </div>
    </ng-container>
</div>