<div class="ss" (click)="click()" #orgin>
    {{ placeholder$ | async }}
    <span>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9660; </span>
</div>
    <ng-template #panel>
        <div class="aa" (mouseleave)="click()">
            <div
                class="uu"
                *ngFor="let it of list; let i = index"
                (click)="state(it.item, it.param, i)"
                [ngClass]="{ optionactive: it.item == (placeholder$ | async) }"
            >
                {{ it.item }}
            </div>
        </div>
    </ng-template>
