<div class="temp">
	<ng-container *ngIf="!isHideLeft">
		<div class="left">
			<div class="left-top">
				<a class="goback" (click)="goback()"> <img src="/assets/image/commission/goback.svg" />返回列表 </a>
				<div class="title">发起方：</div>

				<div class="owner">
					<ivo-lazy-img
						class="avatar"
						[ngLazyLoad]="detail?.sponsor.avatar"
						[border]="6"
						[routerLink]="['/user/' + detail?.sponsor.id]"
					>
					</ivo-lazy-img>
					<div class="owner-detail">
						<span class="nick" [routerLink]="['/user/' + detail?.sponsor.id]">{{ detail?.sponsor.nickName }}</span>
						<span class="bottom">
							<span class="identity">
								<img *ngIf="sponsor?.role.includes(11001)" src="/assets/image/role/live2d-icon.svg" />
								<img *ngIf="sponsor?.role.includes(11002)" src="/assets/image/role/lllustrator-icon.svg" />
							</span>

							<a
								*ngIf="Identity != 0"
								class="chat"
								(click)="toChat(detail?.sponsor.id, detail?.sponsor.avatar, detail?.sponsor.nickName)"
							>
								<img src="/assets/image/commission/chat.svg" />私聊
							</a>
						</span>
					</div>
				</div>
				<div class="line"></div>
				<div class="row">
					<span> 企划类型： </span>
					<span [ngSwitch]="detail?.commission?.category">
						<ng-container *ngSwitchCase="0">Live2D</ng-container>
						<ng-container *ngSwitchCase="1">立绘创作</ng-container>
					</span>
				</div>
				<div class="row">
					<span>发布时间：</span>
					<span>{{ detail?.commission?.publishTime | date: 'yyyy-MM-dd HH:mm' }}</span>
				</div>

				<div class="row">
					<span>
						<ng-container *ngIf="detail?.commission?.category === 1"> 画师： </ng-container>
						<ng-container *ngIf="detail?.commission?.category === 0"> 模型师： </ng-container>
					</span>
					<a class="count" routerLink="registrationlist" queryParamsHandling="merge">已有{{ registrationCount }}人报名</a>
				</div>
				<div class="row">
					<span>稿酬：</span>
					<a class="money">¥ {{ detail?.commission?.minPrice }}～ ¥ {{ detail?.commission?.maxPrice }}</a>
				</div>
				<div class="state">
					<img src="/assets/image/commission/flag.svg" />
					<ng-container [ngSwitch]="commissionStatus$.value">
						<ng-container *ngSwitchCase="5"> 企划已关闭 </ng-container>
						<ng-container *ngSwitchCase="7"> 停止招募 </ng-container>
						<ng-container *ngSwitchDefault>
							<ng-container *ngIf="detail.commission.expireTime < nowTime; else abled"> 停止招募 </ng-container>
							<ng-template #abled> 企划招募中... </ng-template>
							<p class="stop">
								企划将在{{ detail.commission.expireTime | date: 'yyyy-MM-dd' }}后自动停止招募
								<img
									(mouseenter)="isShowExplanation = true"
									(mouseleave)="isShowExplanation = false"
									src="/assets/image/commission/why.svg"
								/>
							</p>
							<div class="explanation" [class.show-explanation]="isShowExplanation">
								<span>
									发布企划后，平台将会展示该企划{{ abledTime }} 天，企划超过{{ abledTime }}天未开始后，将会自动
									取消展示。若仍需招募，需要再次重新 发布企划。
								</span>
							</div>
						</ng-container>
					</ng-container>
				</div>
				<ng-container *ngFor="let btn of btnIconList; let i = index">
					<button class="big" (click)="selectFun(btn.fun)">
						<img [src]="btn.i" />
						{{ btn.text }}
					</button>
				</ng-container>
				<!-- <ng-container *ngIf="commissionStatus$.value!=5">
                    <ng-container *ngIf="detail?.sponsor.id==(id$|async)">
                        <ng-container
                            *ngIf="commissionStatus$.value===7 && detail.commission.expireTime<nowTime;else sponsorBtn">
                            <button class="big" (click)="edit()">
                                <img src="/assets/image/commission/edit.svg">
                                编辑企划
                            </button>
                            <button class="big" (click)="closeCommission()">关闭企划</button>
                        </ng-container>
                        <ng-template #sponsorBtn>
                            <button class="big" (click)="edit()">
                                <img src="/assets/image/commission/edit.svg">
                                编辑企划
                            </button>
                            <button class="big" *ngIf="commissionStatus$.value!=7"
                                (click)="stopCommission()">停止企划</button>
                            <button class="big" *ngIf="commissionStatus$.value==7"
                                (click)="startCommission()">开启企划</button>
                            <button class="big" (click)="closeCommission()">关闭企划</button>
                        </ng-template>
                    </ng-container>
                    <ng-container *ngIf="detail?.sponsor.id!=(id$|async)">
                        <button class="big" *ngIf="!isRegistration && detail.commission.expireTime>nowTime"
                            (click)="registration()">报名企划</button>
                        <button class="big" *ngIf="isRegistration" (click)="canceRegistration()">取消报名</button>
                    </ng-container>
                    <span class="tips" *ngIf="detail?.commission.expireTime>nowTime;else out">企划将在{{showTime}}后停止招募</span>
                    <ng-template #out>
                        <span class="tips">企划发布时长超时，已停止招募</span>
                    </ng-template>
               
                </ng-container> -->
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="isHideLeft">
		<div class="left">
			<div class="left-top">
				<a class="goback" [routerLink]="['/commission']"> <img src="/assets/image/commission/goback.svg" />返回列表 </a>
				<div class="title">发起方：</div>

				<div class="owner">
					<ivo-lazy-img
						class="avatar"
						[ngLazyLoad]="detail?.sponsor.avatar"
						[border]="6"
						[routerLink]="['/user/' + detail?.sponsor.id]"
					>
					</ivo-lazy-img>
					<div class="owner-detail">
						<span class="nick" [routerLink]="['/user/' + detail?.sponsor.id]">{{ sponsor?.nickname }}</span>
						<span class="bottom">
							<span class="identity">
								<img *ngIf="sponsor?.role.includes(11001)" src="/assets/image/role/live2d-icon.svg" />
								<img *ngIf="sponsor?.role.includes(11002)" src="/assets/image/role/lllustrator-icon.svg" />
							</span>

							<a *ngIf="Identity === 2" class="chat" (click)="toChat(sponsor.id, sponsor.avatar, sponsor.nickname)">
								<img src="/assets/image/commission/chat.svg" />私聊
							</a>
						</span>
					</div>
				</div>
				<div class="line"></div>
				<div class="title">
					<ng-container *ngIf="detail.commission.category === 1"> 画师： </ng-container>
					<ng-container *ngIf="detail.commission.category === 0"> 模型师： </ng-container>
				</div>

				<div class="owner">
					<ivo-lazy-img class="avatar" [ngLazyLoad]="receiver?.avatar" [border]="6" [routerLink]="['/user/' + receiver?.id]">
					</ivo-lazy-img>
					<div class="owner-detail">
						<span class="nick" [routerLink]="['/user/' + receiver?.id]">{{ receiver?.nickname }}</span>
						<span class="bottom">
							<span class="identity">
								<img *ngIf="receiver?.role.includes(11001)" src="/assets/image/role/live2d-icon.svg" />
								<img *ngIf="receiver?.role.includes(11002)" src="/assets/image/role/lllustrator-icon.svg" />
							</span>

							<a *ngIf="Identity === 1" class="chat" (click)="toChat(receiver?.id, receiver?.avatar, receiver?.nickname)">
								<img src="/assets/image/commission/chat.svg" />私聊
							</a>
						</span>
					</div>
				</div>
				<div class="line"></div>
				<div class="row">
					<span>
						企划类型：
						<ng-container [ngSwitch]="detail.commission.category">
							<ng-container *ngSwitchCase="0">Live2D</ng-container>
							<ng-container *ngSwitchCase="1">立绘创作</ng-container>
						</ng-container>
					</span>
					<span class="change" (click)="changeState(changebox)" #changebox
						><img src="/assets/image/commission/change.svg"
					/></span>
				</div>
				<div class="row">
					<span [ngSwitch]="commissionStatus$.value">
						企划状态：
						<ng-container *ngSwitchCase="3"> 完成 </ng-container>
						<ng-container *ngSwitchCase="6"> 中止 </ng-container>
						<ng-container *ngSwitchCase="2"> 进行中 </ng-container>
						<ng-container *ngSwitchCase="4"> 待中止 </ng-container>
						<ng-container *ngSwitchCase="1"> 待确认 </ng-container>
						<ng-container *ngSwitchCase="7"> 停止 </ng-container>
					</span>
				</div>

				<div class="row">
					<span>发布时间：{{ detail?.commission.publishTime | date: 'yyyy-MM-dd' }}</span>
				</div>
				<div class="row" *ngIf="detail.commission.status === 2">
					<span>企划开始时间 ：{{ detail?.commission.startTime | date: 'yyyy-MM-dd HH:mm' }}</span>
				</div>
				<div class="row">
					<span>企划所需时长：{{ commissionDay }}天</span>
				</div>
			</div>

			<!-- <div class="state">
                <img src="/assets/image/commission/flag.svg">
                企划进行中...
            </div> -->
			<div class="left-buttom">
				<span class="money">稿酬：¥ {{ finalPrice }}</span>
				<span class="stop-time" *ngIf="detail.commission.status === 2"
					>企划截稿时间：{{ lasttime | date: 'yyyy-MM-dd HH:mm' }}</span
				>

				<div class="btnlist">
					<ng-container *ngFor="let btn of showBtn; let i = index">
						<span class="btn" (click)="(i != 1 || (Identity === 1 && i === 1)) && func(i)">
							<img class="not-hover" [src]="btn.i" />
							<img class="hover" [src]="btn.hover" />
							<span class="font">
								{{ btn.word[0] }}
							</span>
							<span
								*ngIf="i === 1 && (Identity === 2 || (Identity === 1 && [4, 6].includes(commissionStatus$ | async)))"
								class="invalid"
								><a class="xie"></a
							></span>
						</span>
					</ng-container>
				</div>
			</div>
		</div>
	</ng-container>

	<router-outlet></router-outlet>
</div>
