<div class="user-profile">
    <div  class="basic">
        {{"profile.basic_info" | translate}}
    </div>

    <div class="main">
        <div class="mc">
            <div class="new">{{"profile.head_icon" | translate}}</div>
            <crop-image
                class="avatar"
                [imgUrl]="avatar$ | async"
                [formControl]="avatar"
            ></crop-image>
            <span class="change-avatar">{{"profile.change_head_icon" | translate}}</span>
        </div>
        <div class="right">
            <div class="new">{{"profile.user_name" | translate}}</div>
            <input
                #input
                class="nick-name"
                type="text"
                [formControl]="nickName"
                (blur)="saveName(input)"
            />
            <div>
                <div class="new">{{"profile.personal_profile" | translate}}</div>
                <textarea
                    #area
                    class="file"
                    [formControl]="description"
                    cols="3"
                    rows="3"
                    (blur)="saveDesc()"
                ></textarea>
                <div class="error-inset" [errorDisplay]="description">
                    <ng-container *errorCase="'maxlength'">
                        {{"profile.personal_profile_word" | translate}}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
