<div class="login">
    <div class="logo">
        <img src="/assets/image/svg/i-logo.svg">
    </div>
    <form class="passport" [formGroup]="loginForm">
        <div class="form-control">
            <label>
                {{'login.account'|translate}}
            </label>
            <div class="input-control">
                <input class="input-top" formControlName="account" placeholder="{{'login.accountPlaceholder'|translate}}" autocomplete="username" (click)="changeValue()">
                <div class="error-inset" [errorDisplay]="account">
                    <ng-container *errorCase="'required'">
                        {{'login.accountRequired'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'account_locked'">
                        {{'login.accountLocked'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'user_not_exist'">
                        {{'login.userNotExist'|translate}}
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="form-control">
            <label>
                {{'login.password'|translate}}
            </label>
            <div class="input-control">
                <input class="input-top" formControlName="password" placeholder="{{'login.passwordPlaceholder'|translate}}" type="password" autocomplete="current-password">
                <div class="error-inset" [errorDisplay]="password">
                    <ng-container *errorCase="'required'">
                        {{'login.passwordRequired'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'wrong_password'">
                        {{'login.wrongPassword'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'minlength'">
                        {{'login.minLength'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'maxlength'">
                        {{'login.maxLength'|translate}}
                    </ng-container>
                    <ng-container *errorCase="'pattern'">
                        {{'login.pattern'|translate}}
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="form-control" style="height:30px;text-align: left;width: 78%;">
            <label nz-checkbox>{{'login.remember'|translate}}</label>
        </div>
        <button ivo-button type="submit" (click)="login($event)">{{'login.login'|translate}}</button>
        <div class="form-actions">
            <a [routerLink]="['..','register']" queryParamsHandling="preserve" >{{'login.register'|translate}}</a>
            <a class="right" [routerLink]="['..','forget_password']" [queryParams]="{type:1}" queryParamsHandling="preserve" >{{'login.forget'|translate}}</a>
        </div>
    </form>
</div>
