<h3>
    {{name}}
    <span *ngIf="price>0">{{price|currency:'¥'}}</span>
</h3>

<div class="hello">
    <a (click)="showFileList()">查看文件列表</a>
    <span [ngSwitch]="maxStock">
        <ng-container *ngSwitchCase="1">
             单次出售
        </ng-container>
        <ng-container *ngSwitchCase="-1">
             多次出售
        </ng-container>
    </span>
</div>
<ng-container *ngIf="period<0">
    <ng-template [ngIf]="own" [ngIfElse]="e">
        <button ivo-button class="view" (click)="goToWarehouse()">
            在仓库中查看
        </button>
    </ng-template>
    <ng-template #e>
        <ng-container *ngIf="price>0; else free">
            <ng-container *ngIf="maxStock!==-1 && saleNumber>=maxStock; else elseTemplate">
                <button ivo-button class="selled-out">
                    已售罄
                </button>
            </ng-container>
            <ng-template #elseTemplate>
                <ng-template [ngIf]="isInCart(goodId)|async" [ngIfElse]="d">
                    <button ivo-button (click)="goToCart()">
                        已加入购物车
                    </button>
                </ng-template>
                <ng-template #d>
                    <button ivo-button (click)="addToCart()">
                        加入购物车
                    </button>
                </ng-template>
            </ng-template>
        </ng-container>
        <ng-template #free>
            <button ivo-button class="free" (click)="addToWarehouse()">
                添加到仓库
            </button>
        </ng-template>


    </ng-template>
</ng-container>
<div class="detail-modal" *ngIf="fileListShow">
    <div class="detail-modal-box">
        <div class="detail-modal-head">
            {{name}}
        </div>
        <!-- <div class="detail-modal-line"></div> -->
        <div class="detail-modal-body" *ngrxLet="fileList$;let fileList">
            <div class="file-box">
                <span *ngIf="fileList.work_list?.length>0">模型文件</span>
                <div class="file" *ngFor="let file of fileList.work_list">
                    <img src="/assets/image/file.png"><span>{{file}}</span>
                </div>
                <span *ngIf="fileList.goods_list?.length>0">附件</span>
                <div class="file" *ngFor="let file of fileList.goods_list">
                    <img src="/assets/image/file.png"><span>{{file}}</span>
                </div>
            </div>
            <div class="detail-footer">
                <span>总大小：{{fileList.size>=1024*1024?(fileList.size/(1024*1024)).toFixed(2)+'MB':fileList.size>1024?(fileList.size/1024).toFixed(2)+'KB':fileList.size+'B'}}</span>
            </div>
        </div>
        <div class="detail-modal-footer">
            <button ivo-button (click)="closeFileList()">返回</button>
        </div>
    </div>
</div>
