<div class="all">
	<div class="detail" *ngrxLet="works$;let works">
		<div class="wo">
			<!-- <li *ngFor="let item of works?.list">
                <div class="all-left">
                    <img [attr.src]="item.cover+'?x-oss-process=image/resize,m_fixed,w_102,h_102'">
                    <span class="left">
                        <span class="name">
                            {{item.name}}
                        </span>

                        <span class="count"></span>

                        <span class="time">
                            <span class="time-one">
                                发布时间：{{item.submittime|date:'yyyy/MM/dd'}}
                            </span>
                        </span>
                    </span>
                </div>
                <div class="all-right">
                    <span class="edit" (click)="cannelApply(item.id)">撤销审核</span>
                </div>
            </li> -->
			<ng-container *ngFor="let item of works?.list">
				<ivo-single-manager [item]="item" [type]="1" [state]="2" (delete)="ll($event)"></ivo-single-manager>
			</ng-container>
			<ng-container *ngIf="works?.count==0">
				<ivo-lack-image></ivo-lack-image>
			</ng-container>
		</div>

		<div class="page" *ngIf="works?.count>6">
			<ng-container *ngrxLet="currentPage$;let currentPage">
				<ivo-pagination
					[total]="works.count"
					[currentPage]="currentPage"
					[pageSize]="6"
					(onPageChange)="toPage($event)"
				></ivo-pagination>
			</ng-container>
		</div>
	</div>
</div>
