<div *ngrxLet="userdata$;let userdata">
    <div class="user" *ngFor="let items of userdata.list">
        <div class="fle">
            <div class="left">
                <div class="left-top">
                    <a [href]="['/user/'+items.uid]">
                        <img class="ua" [src]="items.avatar" />
                    </a>

                    <div class="x">
                        <a [href]="['/user/'+items.uid]">
                            <span class="username" >
                                {{items.nickname}}
                            </span>
                        </a>

                        <span class="desc">
                            <span>粉丝量：{{items.num_followed}}&nbsp;&nbsp;&nbsp;</span>
                            <span>点赞量：{{items.like_count}}</span>
                        </span>
                    </div>

                </div>
                <span class="btn"> 
                    <ng-container ivo-follow [follow-id]="items.uid" [follow-state]="items.follow_state"
                        #followState="follow">
                        <ng-container *ngrxLet="followState.follow$;let f" [ngSwitch]="f">
                            <button class="follow" (click)="followState.request()" [class.followed]="f!=0" >
                                <ng-container *ngSwitchCase="0"><img src="/assets/image/svg/i-add.svg">关注</ng-container>
                                <ng-container *ngSwitchCase="1"><img src="/assets/image/svg/i-follow-check.svg">已关注</ng-container>
                                <ng-container *ngSwitchCase="2"><img src="/assets/image/svg/i-circle.svg">互相关注</ng-container>
                                <ng-container *ngSwitchCase="3"><img src="/assets/image/svg/black.svg">已拉黑</ng-container>
                            </button>
                        </ng-container>
                    </ng-container>
                </span>

            </div>
            <div class="right">
                <div class="show" *ngFor="let item of items.work_list">
                    <a [href]="item?.category==1?['/illust/'+item?.id]:['/live2d/'+item?.id]">
                        <ivo-lazy-img [ngLazyLoad]="item.cover+'?x-oss-process=image/resize,m_fixed,w_224,h_224'">
                        </ivo-lazy-img>
                    </a>

                </div>
            </div>
        </div>

    </div>
    <div class="default" *ngIf="userdata.count==0">
        <ivo-lack-image></ivo-lack-image>
        <span>啊咧，什么都没有搜索到的说</span>
    </div>

    <div *ngIf="userdata.count>10" class="page">
        <ivo-pagination [total]="userdata?.count" [currentPage]="(page$|async)" [pageSize]="10" (onPageChange)="page($event)">
        </ivo-pagination>
    </div>
</div>
